
<!-- Toobar -->
<mat-toolbar class="toolbar">
  <span class="name-icon">Minha Chance</span>
  <span class="example-spacer-menu"></span>
  <button mat-icon-button class="menu-icon" title="Início">
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer-menu-items"></span>
  <button mat-icon-button class="menu-icon" aria-label="Example icon-button with heart icon" title="Vagas">
    <span class="material-icons">
      work
    </span>
  </button>
  <span class="example-spacer-menu-items"></span>
  <button mat-icon-button class="menu-icon" aria-label="Example icon-button with heart icon" title="Avaliações">
    <mat-icon>done</mat-icon>
  </button>
  <span class="example-spacer-menu-items"></span>
  <button mat-icon-button class="menu-icon" aria-label="Example icon-button with heart icon" title="Colaboradores">
    <span class="material-icons">
      construction
      </span>
  </button>
  <span class="example-spacer-menu-items"></span>
  <button mat-icon-button class="menu-icon" aria-label="Example icon-button with heart icon" title="Cursos">
    <span class="material-icons">
        school
    </span>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="side-icon" aria-label="Example icon-button with heart icon">
    <mat-icon class="side-icon"><span class="material-icons">
      account_circle
      </span></mat-icon>
  </button>
  <button mat-icon-button class="side-icon" aria-label="Example icon-button with share icon">
    <mat-icon class="side-icon">logout</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- Footer -->
<mat-toolbar class="footer">
  <span class="footer-icon">
      Desenvolvido por:
  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="menu-icon-mobile" aria-label="Example icon-button with heart icon" title="Início">
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer-menu-items"></span>
  <button mat-icon-button class="menu-icon-mobile" aria-label="Example icon-button with heart icon" title="Vagas">
    <span class="material-icons">
      work
    </span>
  </button>
  <span class="example-spacer-menu-items"></span>
  <button mat-icon-button class="menu-icon-mobile" aria-label="Example icon-button with heart icon" title="Avaliações">
    <mat-icon>done</mat-icon>
  </button>
  <span class="example-spacer-menu-items"></span>
  <button mat-icon-button class="menu-icon-mobile" aria-label="Example icon-button with heart icon" title="Colaboradores">
    <span class="material-icons">
      construction
      </span>
  </button>
  <span class="example-spacer-menu-items"></span>
  <button mat-icon-button class="menu-icon-mobile" aria-label="Example icon-button with heart icon" title="Cursos">
    <span class="material-icons">
      <span class="material-icons">
        school
        </span>
      </span>
  </button>
  <span class="footer-icon">
    Português - Brasil
  </span>

</mat-toolbar>


