<div class="container">
    <form [formGroup]="formUserData">
        <div class="row">
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Nome Completo</mat-label>
                <input id="userEmail" class="form-control" [(ngModel)]="this.user.userName" formControlName="userName" type="text" matInput
                    autocomplete="off" placeholder="Nome Completo" required />
            </mat-form-field>
            <div
                *ngIf="formUserData.get('userEmail')?.invalid && (formUserData.get('userEmail')?.dirty || formUserData.get('userEmail')?.touched)">
                <p *ngIf="formUserData.get('userEmail')?.errors?.['required']">
                    Nome Completo é necessário.
                </p>
            </div>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Nome do Usuário</mat-label>
                <input id="userEmail" class="form-control" [(ngModel)]="this.user.profile" formControlName="profileName" type="text" matInput
                    autocomplete="off" placeholder="Nome de usuário" required />
            </mat-form-field>
            <div
                *ngIf="formUserData.get('profileName')?.invalid && (formUserData.get('profileName')?.dirty || formUserData.get('profileName')?.touched)">
                <p *ngIf="formUserData.get('profileName')?.errors?.['required']">
                    Nome de usuário é necessário.
                </p>
            </div>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Email</mat-label>
                <input id="userEmail" class="form-control" [(ngModel)]="this.user.email" formControlName="email" type="text" matInput
                    autocomplete="off" placeholder="Email" required />
            </mat-form-field>
            <div
                *ngIf="formUserData.get('email')?.invalid && (formUserData.get('email')?.dirty || formUserData.get('email')?.touched)">
                <p *ngIf="formUserData.get('email')?.errors?.['required']">
                    Email é necessário.
                </p>
            </div>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Senha</mat-label>
                <input id="userPassword" class="form-control" [(ngModel)]="this.user.passWord" formControlName="passWord" type="password" matInput
                    autocomplete="off" placeholder="Senha" required />
            </mat-form-field>
            <div
                *ngIf="formUserData.get('passWord')?.invalid && (formUserData.get('passWord')?.dirty || formUserData.get('passWord')?.touched)">
                <p *ngIf="formUserData.get('passWord')?.errors?.['required']">
                    Senha é necessária.
                </p>
            </div>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Confirmar Senha</mat-label>
                <input id="confirmPassword" class="form-control" type="password" matInput autocomplete="off"
                    placeholder="Senha" required />
            </mat-form-field>
            <div
                *ngIf="this.isConfirmed">
                <p>
                    Confirmar a senha é necessário.
                </p>
            </div>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Idade</mat-label>
                <input id="userPassword" class="form-control" [(ngModel)]="this.user.age" formControlName="age" type="number" matInput
                    autocomplete="off" placeholder="Senha" required />
            </mat-form-field>
            <div
                *ngIf="formUserData.get('age')?.invalid && (formUserData.get('age')?.dirty || formUserData.get('age')?.touched)">
                <p *ngIf="formUserData.get('age')?.errors?.['required']">
                    Idade é necessário.
                </p>
            </div>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Bairro</mat-label>
                <input id="userPassword" class="form-control" [(ngModel)]="this.address.district" formControlName="district" type="text" matInput
                    autocomplete="off" placeholder="Bairro" required />
            </mat-form-field>
            <div
                *ngIf="formUserData.get('district')?.invalid && (formUserData.get('district')?.dirty || formUserData.get('district')?.touched)">
                <p *ngIf="formUserData.get('district')?.errors?.['required']">
                    Bairro é necessário.
                </p>
            </div>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">CEP</mat-label>
                <input id="userPassword" class="form-control" [(ngModel)]="this.address.zipCode" formControlName="zipCode" type="text" matInput
                    autocomplete="off" placeholder="CEP" required />
            </mat-form-field>
            <div
                *ngIf="formUserData.get('zipCode')?.invalid && (formUserData.get('zipCode')?.dirty || formUserData.get('zipCode')?.touched)">
                <p *ngIf="formUserData.get('zipCode')?.errors?.['required']">
                    CEP é necessário.
                </p>
            </div>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Rua</mat-label>
                <input id="userPassword" class="form-control" [(ngModel)]="this.address.streetName" formControlName="streetName" type="text"
                    matInput autocomplete="off" placeholder="Rua" required />
            </mat-form-field>
            <div
                *ngIf="formUserData.get('streetName')?.invalid && (formUserData.get('streetName')?.dirty || formUserData.get('streetName')?.touched)">
                <p *ngIf="formUserData.get('streetName')?.errors?.['required']">
                    Rua é necessária.
                </p>
            </div>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Número</mat-label>
                <input id="userPassword" class="form-control" [(ngModel)]="this.address.streetNumber" formControlName="streetNumber" type="number"
                    matInput autocomplete="off" placeholder="Número" required />
            </mat-form-field>
            <div
                *ngIf="formUserData.get('streetNumber')?.invalid && (formUserData.get('streetNumber')?.dirty || formUserData.get('streetNumber')?.touched)">
                <p *ngIf="formUserData.get('streetNumber')?.errors?.['required']">
                    Número é necessário.
                </p>
            </div>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Complemento</mat-label>
                <input id="userPassword" class="form-control" [(ngModel)]="this.address.complement" type="text"
                    matInput autocomplete="off" placeholder="Complemento" />
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Contato</mat-label>
                <input id="userPassword" class="form-control" [(ngModel)]="this.user.phone" formControlName="contact" type="phone" matInput
                    autocomplete="off" placeholder="Contato" />
            </mat-form-field>
            <div
                *ngIf="formUserData.get('contact')?.invalid && (formUserData.get('contact')?.dirty || formUserData.get('contact')?.touched)">
                <p *ngIf="formUserData.get('contact')?.errors?.['required']">
                    Contato é necessário.
                </p>
            </div>
        </div>
    </form>
    <button (click)="sendUserData()" type="button" class="btn btn-outline-primary" id="dropdownCategory">
        Concluído
    </button>
</div>