<div>
    <mat-card class="vacancies-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Crie vagas e oportunidades para sua empresa
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="vacancy-content">

            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form [formGroup]="formVacancy">
                        <div fxLayout="column">
                            <mat-label class="placeholder-color">Salário da vaga</mat-label>
                            <br/>
                            <mat-form-field>
                                <input id="vacancySalary" formControlName="vacancySalary" class="form-control" type="number" [(ngModel)]="this.vacancy.salary"
                                    matInput autocomplete="off" placeholder="Salário" required/>
                            </mat-form-field>
                            <div
                                *ngIf="formVacancy.get('vacancySalary')?.invalid && (formVacancy.get('vacancySalary')?.dirty || formVacancy.get('vacancySalary')?.touched)">
                                <p *ngIf="formVacancy.get('vacancySalary')?.errors?.['required']">
                                    Vaga do salário é necessário.
                                </p>
                            </div>
                            <section>
                                <mat-checkbox (change)="changeSalaryDisplay()">
                                    A combinar
                                </mat-checkbox>
                            </section>
                            <br/>
                            <mat-label class="placeholder-color">Categoria</mat-label>
                            <br/>
                            <mat-form-field>
                                <input formControlName="vacancyCategory" class="form-control" type="text" [(ngModel)]="this.vacancy.category"
                                    matInput autocomplete="off" placeholder="Categoria" required/>
                            </mat-form-field>
                            <div
                                *ngIf="formVacancy.get('vacancyCategory')?.invalid && (formVacancy.get('vacancyCategory')?.dirty || formVacancy.get('vacancyCategory')?.touched)">
                                <p *ngIf="formVacancy.get('vacancyCategory')?.errors?.['required']">
                                    Descrição do curso é necessária.
                                </p>
                            </div>
                            <mat-form-field class="spacing-margin">
                                <mat-label class="placeholder-color">Vaga</mat-label>
                                <mat-select placeholder="Vaga">
                                    <mat-option value="Introdução I">Analista I</mat-option>
                                    <mat-option value="Introdução II">Analista II</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div
                                *ngIf="formVacancy.get('contractType')?.invalid && (formVacancy.get('contractType')?.dirty || formVacancy.get('contractType')?.touched)">
                                <p *ngIf="formVacancy.get('contractType')?.errors?.['required']">
                                    Tipo de contratação é necessária.
                                </p>
                            </div>
                            <br />
                            <mat-label class="placeholder-color">Quantidade de vagas</mat-label>
                            <br/>
                            <mat-form-field>
                                <input formControlName="vacancyQuantity" class="form-control" type="number" [(ngModel)]="this.vacancy.quantity" matInput autocomplete="off"
                                    placeholder="Quantidade de vagas" required />
                            </mat-form-field>
                            <div
                                *ngIf="formVacancy.get('vacancyQuantity')?.invalid && (formVacancy.get('vacancyQuantity')?.dirty || formVacancy.get('vacancyQuantity')?.touched)">
                                <p *ngIf="formVacancy.get('vacancyQuantity')?.errors?.['required']">
                                    Duração do curso é necessária.
                                </p>
                                <p *ngIf="formVacancy.get('vacancyQuantity')?.errors?.['forbiddenDurationTime']">
                                    Duração do curso deve ser maior que 0.
                                </p>
                            </div>
                            <br />
                            <mat-label class="placeholder-color">Modalidade</mat-label>
                            <div class="col">
                                <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn-outline-primary" id="dropdownLocation" 
                                        ngbDropdownToggle>{{this.vacancy.modalidity != undefined ? this.vacancy.modalidity: 'Modalidade'}}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                        <button *ngFor="let modality of modalities" (click)="changeModality(modality)" ngbDropdownItem>{{modality}}</button>
                                        
                                    </div>
                                </div>
                            </div>
                            <div
                                *ngIf="formVacancy.get('contractModality')?.invalid && (formVacancy.get('contractModality')?.dirty || formVacancy.get('contractModality')?.touched)">
                                <p *ngIf="formVacancy.get('contractModality')?.errors?.['required']">
                                    Tipo de contratação é necessária.
                                </p>
                            </div>
                            <mat-label *ngIf="isHibrid" class="placeholder-color">Quantidade por semana</mat-label>
                            <mat-form-field *ngIf="isHibrid" class="spacing-margin">
                                <input formControlName="vacancySemanalQuantity" class="spacing-margin form-control" type="number" [(ngModel)]="this.vacancy.semanalQuantity" matInput autocomplete="off"
                                    placeholder="Quantidade por semana" required />
                            </mat-form-field>
                            <div
                            *ngIf="formVacancy.get('vacancySemanalQuantity')?.invalid && (formVacancy.get('vacancySemanalQuantity')?.dirty || formVacancy.get('vacancySemanalQuantity')?.touched)">
                            <p *ngIf="formVacancy.get('vacancySemanalQuantity')?.errors?.['required']">
                                Duração do curso é necessária.
                            </p>
                            <p *ngIf="formVacancy.get('vacancySemanalQuantity')?.errors?.['forbiddenDurationTime']">
                                Duração do curso deve ser maior que 0.
                            </p>
                            </div>
                            <br />
                            <section>
                                <mat-checkbox (change)="confidencialVacancy()">
                                    Vaga Confidencial
                                </mat-checkbox>
                            </section>
                            <br />
                            
                            <mat-label>Imagem da vaga</mat-label>
                            <br />
                            <input (change)="chooseVacancyImage($event)" class="ng-hide" id="input-image-id" multiple type="file" required/>
                            <br />
                            <br />
                            <mat-label>Descrição da vaga</mat-label>
                            <br />
                            <textarea class="text-area-form" required></textarea>
                            <div
                                *ngIf="formVacancy.get('vacancyDescription')?.invalid && (formVacancy.get('vacancyDescription')?.dirty || formVacancy.get('vacancyDescription')?.touched)">
                                <p *ngIf="formVacancy.get('vacancyDescription')?.errors?.['required']">
                                    Descrição do curso é necessária.
                                </p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>


    </mat-card>
</div>


<div>
    <mat-card class="benefit-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Beneficios
            </mat-card-title>
            <span class="material-icons col-4" (click)="addBenefit(this.vacancy.benefit)">add_circle_outline</span>
            <span class="material-icons col-4">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form [formGroup]="formBenefits">
                        <div fxLayout="column">
                            <mat-label class="placeholder-color">Nome do beneficio</mat-label>
                            <br/>
                            <mat-form-field>
                            <input matInput class="form-control" formControlName="benefitDescription" type="text" autocomplete="off"
                                placeholder="Nome do beneficio" required />
                            </mat-form-field>
                            <div
                                *ngIf="formBenefits.get('benefitDescription')?.invalid && (formBenefits.get('benefitDescription')?.dirty || formBenefits.get('benefitDescription')?.touched)">
                                <p *ngIf="formBenefits.get('benefitDescription')?.errors?.['required']">
                                    Descrição do beneficio é necessária.
                                </p>
                            </div>
                            <br/>
                            <mat-label class="placeholder-color">Valor do beneficio (opcional)</mat-label>
                            <br/>
                            <mat-form-field>
                            <input matInput class="form-control" formControlName="benefitValue" type="text" autocomplete="off"
                                placeholder="Valor do beneficio" required />
                            </mat-form-field>
                            <div
                                *ngIf="formBenefits.get('benefitValue')?.invalid && (formBenefits.get('benefitValue')?.dirty || formBenefits.get('benefitValue')?.touched)">
                                <p *ngIf="formBenefits.get('benefitValue')?.errors?.['required']">
                                    Valor do beneficio é necessário.
                                </p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>


    </mat-card>
</div>
<!-- Lista de beneficios inseridos -->

<!-- Lista de beneficios inseridos -->
<div>
    <mat-card class="requires-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Requisitos
            </mat-card-title>
            <span class="material-icons col-4" (click)="addRequirement(this.vacancy.requirement)">add_circle_outline</span>
            <span class="material-icons col-4">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="requires-content">

            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form [formGroup]="formRequirements">
                        <div fxLayout="column">
                           
                            <mat-label class="placeholder-color">Descrição do requisito</mat-label>
                            <textarea formControlName="requirementDescription" class="text-area-form" required></textarea>
                            <div
                                *ngIf="formRequirements.get('requirementDescription')?.invalid && (formRequirements.get('requirementDescription')?.dirty || formRequirements.get('requirementDescription')?.touched)">
                                <p *ngIf="formRequirements.get('requirementDescription')?.errors?.['required']">
                                    Titulo da sessão é necessária.
                                </p>
                            </div>
                            <br />
                            <mat-label class="placeholder-color">Diferenciais (opcional)</mat-label>
                            <textarea formControlName="requirementDifferential" class="text-area-form" required></textarea>
                            <div
                                *ngIf="formRequirements.get('requirementDifferential')?.invalid && (formRequirements.get('requirementDifferential')?.dirty || formRequirements.get('requirementDifferential')?.touched)">
                                <p *ngIf="formRequirements.get('requirementDifferential')?.errors?.['required']">
                                    Titulo da sessão é necessária.
                                </p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>


    </mat-card>
</div>
<!-- Lista de requisitos inseridos -->

<br />
<!-- Lista de requisitos inseridos -->
<button (click)="postVacancy(this.vacancy)" mat-raised-button class="submit-btn" color="primary">Cadastrar Vaga</button>
