<div>
    <mat-card class="vacancies-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Crie vagas e oportunidades para sua empresa
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="vacancy-content">

            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form [formGroup]="formVacancy">
                        <div fxLayout="column">
                            <mat-label class="placeholder-color">Título da vaga</mat-label>
                            <br/>
                            <mat-form-field>
                                <input id="vacancyTitle" formControlName="vacancySalary" class="form-control" type="text" [(ngModel)]="this.vacancy.vacancyTitle"
                                    matInput autocomplete="off" placeholder="Título"/>
                            </mat-form-field>
                            <br/>
                            <mat-label class="placeholder-color">Salário da vaga</mat-label>
                            <br/>
                            <mat-form-field>
                                <input id="vacancySalary" formControlName="vacancySalary" class="form-control" type="number" [(ngModel)]="this.vacancy.salary"
                                    matInput autocomplete="off" placeholder="Salário" readonly="{{this.isConfidential}}"/>
                            </mat-form-field>
                            <div
                                *ngIf="formVacancy.get('vacancySalary')?.invalid && (formVacancy.get('vacancySalary')?.dirty || formVacancy.get('vacancySalary')?.touched)">
                                <p *ngIf="formVacancy.get('vacancySalary')?.errors?.['required']">
                                    Vaga do salário é necessário.
                                </p>
                            </div>
                            <section>
                                <mat-checkbox (change)="changeSalaryDisplay()">
                                    A combinar
                                </mat-checkbox>
                            </section>
                            <br/>
                            <mat-label class="placeholder-color">Categoria</mat-label>
                            <br/>
                            <mat-form-field>
                                <input formControlName="vacancyCategory" class="form-control" type="text" [(ngModel)]="this.vacancy.category"
                                    matInput autocomplete="off" placeholder="Categoria" required/>
                            </mat-form-field>
                            <div
                                *ngIf="formVacancy.get('vacancyCategory')?.invalid && (formVacancy.get('vacancyCategory')?.dirty || formVacancy.get('vacancyCategory')?.touched)">
                                <p *ngIf="formVacancy.get('vacancyCategory')?.errors?.['required']">
                                    Categoria da vaga é necessária.
                                </p>
                            </div>
                            <mat-form-field class="spacing-margin">
                                <mat-label class="placeholder-color">Tipo de contratação</mat-label>
                                <mat-select id="select-contracts" placeholder="Vaga">
                                    <mat-option *ngFor="let category of contractCategories" (click)="changeContractType(category)" value="{{category}}">{{category}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div
                                *ngIf="formVacancy.get('contractType')?.invalid && (formVacancy.get('contractType')?.dirty || formVacancy.get('contractType')?.touched)">
                                <p *ngIf="formVacancy.get('contractType')?.errors?.['required']">
                                    Tipo de contratação é necessária.
                                </p>
                            </div>
                            <br />
                            <mat-label class="placeholder-color">Quantidade de vagas</mat-label>
                            <br/>
                            <mat-form-field>
                                <input formControlName="vacancyQuantity" class="form-control" type="number" [(ngModel)]="this.vacancy.quantity" matInput autocomplete="off"
                                    placeholder="Quantidade de vagas" required />
                            </mat-form-field>
                            <div
                                *ngIf="formVacancy.get('vacancyQuantity')?.invalid && (formVacancy.get('vacancyQuantity')?.dirty || formVacancy.get('vacancyQuantity')?.touched)">
                                <p *ngIf="formVacancy.get('vacancyQuantity')?.errors?.['required']">
                                    Duração do curso é necessária.
                                </p>
                                <p *ngIf="formVacancy.get('vacancyQuantity')?.errors?.['forbiddenDurationTime']">
                                    Duração do curso deve ser maior que 0.
                                </p>
                            </div>
                            <br />
                            <mat-form-field>
                                <mat-label class="placeholder-color">{{this.vacancy.modalidity != undefined ? this.vacancy.modalidity: 'Modalidade'}}</mat-label>
                                <mat-select id="select-contracts" placeholder="Vaga">
                                    <mat-option *ngFor="let modality of modalities" (click)="changeModality(modality)" value="{{modality}}">{{modality}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div
                                *ngIf="formVacancy.get('contractModality')?.invalid && (formVacancy.get('contractModality')?.dirty || formVacancy.get('contractModality')?.touched)">
                                <p *ngIf="formVacancy.get('contractModality')?.errors?.['required']">
                                    Modalidade da contratação é necessária.
                                </p>
                            </div>
                            <mat-label *ngIf="isHibrid" class="placeholder-color">Quantidade por semana</mat-label>
                            <mat-form-field *ngIf="isHibrid" class="spacing-margin">
                                <input formControlName="vacancySemanalQuantity" class="spacing-margin form-control" type="number" [(ngModel)]="this.vacancy.semanalQuantity" matInput autocomplete="off"
                                    placeholder="Quantidade por semana" required />
                            </mat-form-field>
                            <div
                            *ngIf="formVacancy.get('vacancySemanalQuantity')?.invalid && (formVacancy.get('vacancySemanalQuantity')?.dirty || formVacancy.get('vacancySemanalQuantity')?.touched)">
                            <p *ngIf="formVacancy.get('vacancySemanalQuantity')?.errors?.['required']">
                                Necessário informar é necessária.
                            </p>
                            <p *ngIf="formVacancy.get('vacancySemanalQuantity')?.errors?.['forbiddenDurationTime']">
                                Duração do curso deve ser maior que 0.
                            </p>
                            </div>
                            <mat-form-field class="spacing-margin">
                                <mat-label class="placeholder-color">{{this.vacancy.location != undefined ? this.vacancy.location: 'Localização'}}</mat-label>
                                <mat-select id="select-contracts" placeholder="Vaga">
                                    <mat-option *ngFor="let location of locations" (click)="changeLocation(location)" value="{{location}}">{{location}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br />
                            <section>
                                <mat-checkbox (change)="confidencialVacancy()">
                                    Vaga Confidencial
                                </mat-checkbox>
                            </section>
                            <br />
                            
                            <mat-label>Imagem da vaga</mat-label>
                            <br />
                            <input (change)="chooseVacancyImage($event)" class="ng-hide" id="input-image-id" multiple type="file" required/>
                            <br />
                            <br />
                            <mat-label>Descrição da vaga</mat-label>
                            <br />
                            <textarea id="vacancyDescription" class="text-area-form" required></textarea>
                            <div
                                *ngIf="formVacancy.get('vacancyDescription')?.invalid && (formVacancy.get('vacancyDescription')?.dirty || formVacancy.get('vacancyDescription')?.touched)">
                                <p *ngIf="formVacancy.get('vacancyDescription')?.errors?.['required']">
                                    Descrição do curso é necessária.
                                </p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>


    </mat-card>
</div>


<div>
    <mat-card class="benefit-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Beneficios
            </mat-card-title>
            <span class="material-icons col-4" (click)="addBenefit()">add_circle_outline</span>
            <span class="material-icons col-4" (click)="removeBenefit()">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form [formGroup]="formBenefits">
                        <div fxLayout="column">
                            <mat-label class="placeholder-color">Nome do beneficio</mat-label>
                            <br/>
                            <mat-form-field>
                            <input id="benefitDescription" matInput class="form-control" formControlName="benefitDescription" type="text" autocomplete="off"
                                placeholder="Nome do beneficio" required />
                            </mat-form-field>
                            <div
                                *ngIf="formBenefits.get('benefitDescription')?.invalid && (formBenefits.get('benefitDescription')?.dirty || formBenefits.get('benefitDescription')?.touched)">
                                <p *ngIf="formBenefits.get('benefitDescription')?.errors?.['required']">
                                    Descrição do beneficio é necessária.
                                </p>
                            </div>
                            <br/>
                            <mat-label class="placeholder-color">Valor do beneficio (opcional)</mat-label>
                            <br/>
                            <mat-form-field>
                            <input id="benefitValue" matInput class="form-control" formControlName="benefitValue" type="text" autocomplete="off"
                                placeholder="Valor do beneficio" required />
                            </mat-form-field>
                            <div
                                *ngIf="formBenefits.get('benefitValue')?.invalid && (formBenefits.get('benefitValue')?.dirty || formBenefits.get('benefitValue')?.touched)">
                                <p *ngIf="formBenefits.get('benefitValue')?.errors?.['required']">
                                    Valor do beneficio é necessário.
                                </p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>


    </mat-card>
</div>
<!-- Lista de beneficios inseridos -->

<div>
    <mat-card class="benefit-card" *ngFor="let benefit of this.vacancy.benefits; let benefitIndex = index">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Beneficio
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form [formGroup]="formBenefits">
                        <div fxLayout="column">
                            <mat-label class="placeholder-color">Nome do beneficio</mat-label>
                            <br/>
                            <mat-form-field>
                            <input id="benefitDescription" matInput class="form-control" formControlName="benefitDescription" type="text" autocomplete="off"
                                value="{{benefit.description}}"
                                placeholder="{{benefit.description}}" required />
                            </mat-form-field>
                            <div
                                *ngIf="formBenefits.get('benefitDescription')?.invalid && (formBenefits.get('benefitDescription')?.dirty || formBenefits.get('benefitDescription')?.touched)">
                                <p *ngIf="formBenefits.get('benefitDescription')?.errors?.['required']">
                                    Descrição do beneficio é necessária.
                                </p>
                            </div>
                            <br/>
                            <mat-label class="placeholder-color">Valor do beneficio (opcional)</mat-label>
                            <br/>
                            <mat-form-field>
                            <input id="benefitValue" matInput class="form-control" formControlName="benefitValue" type="text" autocomplete="off"
                                value="{{benefit.value}}"
                                placeholder="{{benefit.value}}" required />
                            </mat-form-field>
                            <div
                                *ngIf="formBenefits.get('benefitValue')?.invalid && (formBenefits.get('benefitValue')?.dirty || formBenefits.get('benefitValue')?.touched)">
                                <p *ngIf="formBenefits.get('benefitValue')?.errors?.['required']">
                                    Valor do beneficio é necessário.
                                </p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>


    </mat-card>
</div>

<!-- Lista de beneficios inseridos -->
<div>
    <mat-card class="requires-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Requisito
            </mat-card-title>
            <span class="material-icons col-4" (click)="addRequirement(this.requirement)">add_circle_outline</span>
            <span class="material-icons col-4" (click)="removeBenefit()">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="requires-content">

            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form>
                        <div fxLayout="column">
                           
                            <mat-label class="placeholder-color">Descrição do requisito</mat-label>
                            <textarea id="requirementDescription" class="text-area-form"></textarea>
                            <br />
                            <mat-label class="placeholder-color">Diferenciais (opcional)</mat-label>
                            <textarea id="requirementDifferential" class="text-area-form"></textarea>

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>


    </mat-card>
</div>
<!-- Lista de requisitos inseridos -->
<div>
    <mat-card class="requires-card" *ngFor="let requirement of this.vacancy.requirements; let requirementIndex=index">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Requisitos
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="requires-content">

            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form>
                        <div fxLayout="column">
                           
                            <mat-label class="placeholder-color">Descrição do requisito</mat-label>
                            <textarea id="requirementDescription" class="text-area-form">{{requirement.description}}</textarea>
                            <br />
                            <mat-label class="placeholder-color">Diferenciais (opcional)</mat-label>
                            <textarea id="requirementDifferential" class="text-area-form">{{requirement.differencial}}</textarea>

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>


    </mat-card>
</div>
<br />
<!-- Lista de requisitos inseridos -->
<button *ngIf="!this.vacancyId" (click)="postVacancy(this.vacancy)" mat-raised-button class="submit-btn" color="primary">Cadastrar Vaga</button>
<button *ngIf="this.vacancyId" (click)="editVacancy(this.vacancy)" mat-raised-button class="submit-btn" color="primary">Editar Vaga</button>
