<div>
    <mat-card class="vacancies-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Crie vagas e oportunidades para sua empresa
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="vacancy-content">

            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form [formGroup]="formVacancy">
                        <div fxLayout="column">

                            <mat-form-field>
                                <mat-label class="placeholder-color">Salário</mat-label>
                                <input id="vacancySalary" formControlName="vacancySalary" class="form-control" type="number"
                                    matInput autocomplete="off" placeholder="Salário" required/>
                            </mat-form-field>
                            <!-- <div
                                *ngIf="formCourse.get('courseTitle')?.invalid && (formCourse.get('courseTitle')?.dirty || formCourse.get('courseTitle')?.touched)">
                                <p *ngIf="formCourse.get('courseTitle')?.errors?.['required']">
                                    Titulo do curso é necessário.
                                </p>
                            </div> -->
                            <section>
                                <mat-checkbox>
                                    A combinar
                                </mat-checkbox>
                            </section>
                            <br/>
                            <mat-form-field>
                                <mat-label class="placeholder-color">Categoria</mat-label>
                                <input formControlName="vacancyCategory" class="form-control" type="text"
                                    matInput autocomplete="off" placeholder="Categoria" required/>
                            </mat-form-field>
                            <mat-form-field class="spacing-margin">
                                <mat-label class="placeholder-color">Tipo contratação</mat-label>
                                <mat-select formControlName="contractType" placeholder="Tipo contratação">
                                    <mat-option value="PJ">PJ</mat-option>
                                    <mat-option value="CLT">CLT</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br />
                            <mat-form-field>
                                <mat-label class="placeholder-color">Quantidade de vagas</mat-label>
                                <input formControlName="vacancyQuantity" type="number" matInput autocomplete="off"
                                    placeholder="Quantidade de vagas" required />
                            </mat-form-field>
                            <br />
                            <mat-form-field>
                                <mat-label class="placeholder-color">Modalidade</mat-label>
                                <mat-select formControlName="vacancyModalidity" placeholder="Modalidade">
                                    <mat-option value="PJ">Remoto</mat-option>
                                    <mat-option value="CLT">Híbrido</mat-option>
                                    <mat-option value="CLT">Presencial</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="spacing-margin">
                                <mat-label class="placeholder-color">Quantidade por semana</mat-label>
                                <input class="spacing-margin" type="number" matInput autocomplete="off"
                                    placeholder="Quantidade por semana" required/>
                            </mat-form-field>
                            <!-- <div
                                *ngIf="formCourse.get('courseDuration')?.invalid && (formCourse.get('courseDuration')?.dirty || formCourse.get('courseDuration')?.touched)">
                                <p *ngIf="formCourse.get('courseDuration')?.errors?.['required']">
                                    Duração do curso é necessária.
                                </p>
                                <p *ngIf="formCourse.get('courseDuration')?.errors?.['forbiddenDurationTime']">
                                    Duração do curso deve ser maior que 0.
                                </p>
                            </div> -->
                            <br />
                            <br />
                            <section>
                                <mat-checkbox>
                                    Vaga Confidencial
                                </mat-checkbox>
                            </section>
                            <br />
                            <br />
                            <mat-label>Imagem da vaga</mat-label>
                            <br />
                            <input class="ng-hide" id="input-image-id" multiple type="file" required/>
                            <br />
                            <br />
                            <mat-label>Descrição da vaga</mat-label>
                            <br />
                            <textarea formControlName="vacancyDescription" class="text-area-form" required></textarea>
                            <!-- <div
                                *ngIf="formCourse.get('courseDescription')?.invalid && (formCourse.get('courseDescription')?.dirty || formCourse.get('courseDescription')?.touched)">
                                <p *ngIf="formCourse.get('courseDescription')?.errors?.['required']">
                                    Descrição do curso é necessária.
                                </p>
                            </div> -->

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>


    </mat-card>
</div>


<div>
    <mat-card class="benefit-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Beneficios
            </mat-card-title>
            <span class="material-icons col-4">add_circle_outline</span>
            <span class="material-icons col-4">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form [formGroup]="formBenefits">
                        <div fxLayout="column">
                            <mat-form-field>
                            <mat-label class="placeholder-color">Nome do beneficio</mat-label>
                            <input formControlName="benefitDescription" type="text" matInput autocomplete="off"
                                placeholder="Nome do beneficio" required/>
                            </mat-form-field>
                            <!-- <div
                                *ngIf="formSession.get('sessionTitle')?.invalid && (formSession.get('sessionTitle')?.dirty || formSession.get('sessionTitle')?.touched)">
                                <p *ngIf="formSession.get('sessionTitle')?.errors?.['required']">
                                    Titulo da sessão é necessária.
                                </p>
                            </div> -->
                            <mat-form-field>
                            <mat-label class="placeholder-color">Valor do beneficio (opcional)</mat-label>
                            <input formControlName="benefitValue" type="text" matInput autocomplete="off"
                                placeholder="Titulo da sessão" required/>
                            </mat-form-field>
                            <!-- <div
                                *ngIf="formSession.get('sessionTitle')?.invalid && (formSession.get('sessionTitle')?.dirty || formSession.get('sessionTitle')?.touched)">
                                <p *ngIf="formSession.get('sessionTitle')?.errors?.['required']">
                                    Titulo da sessão é necessária.
                                </p>
                            </div> -->

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>


    </mat-card>
</div>
<!-- Lista de beneficios inseridos -->

<!-- Lista de beneficios inseridos -->
<div>
    <mat-card class="requires-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Requisitos
            </mat-card-title>
            <span class="material-icons col-4">add_circle_outline</span>
            <span class="material-icons col-4">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="requires-content">

            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form [formGroup]="formRequirements">
                        <div fxLayout="column">
                           
                            <mat-label class="placeholder-color">Descrição do requisito</mat-label>
                            <textarea formControlName="requirementDescription" class="text-area-form" required></textarea>
                            <!-- <div
                                *ngIf="formSession.get('sessionTitle')?.invalid && (formSession.get('sessionTitle')?.dirty || formSession.get('sessionTitle')?.touched)">
                                <p *ngIf="formSession.get('sessionTitle')?.errors?.['required']">
                                    Titulo da sessão é necessária.
                                </p>
                            </div> -->
                            <br />
                            <mat-label class="placeholder-color">Diferenciais (opcional)</mat-label>
                            <textarea formControlName="requirementDifferential" class="text-area-form" required></textarea>
                            <!-- <div
                                *ngIf="formSession.get('sessionTitle')?.invalid && (formSession.get('sessionTitle')?.dirty || formSession.get('sessionTitle')?.touched)">
                                <p *ngIf="formSession.get('sessionTitle')?.errors?.['required']">
                                    Titulo da sessão é necessária.
                                </p>
                            </div> -->

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>


    </mat-card>
</div>
<!-- Lista de requisitos inseridos -->

<br />
<!-- Lista de requisitos inseridos -->
<button mat-raised-button class="submit-btn" color="primary">Cadastrar Vaga</button>
<button *ngIf="" mat-raised-button class="submit-btn" color="primary">Editar Vaga</button>