<div class="center-content">
  <mat-card class="user-card">

    <mat-card-title class="center-title">Bem vindo(a), {{this.userLogged.nome}}</mat-card-title>

    <mat-card-actions align="end">
      <button type="button" (click)="editUserProfile()" class="btn btn-primary btn-sm space-button">Editar
        perfil</button>
    </mat-card-actions>

    <mat-card-content class="user-content">
      <div class="container">

        <div class="row">
          <span class="material-icons col-md-4">account_circle</span>
          <label class="col-md-4" for="inputdefault">CPF:<br />{{this.userLogged.CPF ? this.userLogged.CPF:
            this.userLogged.cnpj}}</label>
          <label class="col-md-4 distance-between" for="inputdefault">Data de
            nascimento<br />{{formatDate(this.userLogged.dataNascimento)}}</label>
          <label class="col-md-4 distance-between" for="inputdefault">Data de
            cadastro<br />{{formatDate(this.userLogged.dataCadastro)}}</label>
          <label class="col-md-4 distance-between"
            for="inputdefault">Situação<br />{{this.userLogged.situation}}</label>
          <label class="col-md-4 distance-between"
            for="inputdefault">Escolaridade<br />{{this.userLogged.schooling}}</label>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>

<!-- <div class="center-content">
    <mat-card class="experiences-card">

        <mat-card-title class="center-title">Experiências anteriores</mat-card-title>

        <mat-card-content class="experiences-content">
            <div class="container">

                <div class="row">

                    <mat-list class="col-md-3" role="list">
                        <mat-list-item class="mat-item-color" role="listitem">Descrição: Caixa mercado</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Duração: 12 mes(es)</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Idade 18 anos</mat-list-item>
                    </mat-list>

                    <mat-list class="col-md-3" role="list">
                        <mat-list-item class="mat-item-color" role="listitem">Descrição:Empacotamento</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Duração: 6 mes(es)</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Idade: 20 anos</mat-list-item>
                    </mat-list>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</div> -->


<div class="center-content">
  <mat-card class="objectives-card">

    <mat-card-title class="center-title">Endereço</mat-card-title>

    <mat-card-content class="objectives-content">
      <div class="container">

        <div class="row">

          <label class="col-md-4" for="inputdefault">Estado:<br />{{this.userAddress ? this.userAddress.uf: 'Não informado'}}</label>
          <label class="col-md-4" for="inputdefault">Municipio:<br />{{this.userAddress ? this.userAddress.localidade: 'Não informado'}}
          </label>
          <label class="col-md-4"
            for="inputdefault">Bairro<br />{{this.userAddress ? this.userAddress.bairro: 'Não informado'}}</label>
          <label class="col-md-4 distance-between"
            for="inputdefault">Rua<br />{{this.userAddress ? this.userAddress.logradouro: 'Não informado'}}</label>
          <label class="col-md-4 distance-between" for="inputdefault">Número<br />{{this.userAddress ? this.userAddress.numero: 'Não informado'}}</label>
          <label class="col-md-4 distance-between"
            for="inputdefault">CEP<br />{{this.userAddress ? this.userAddress.cep: 'Não informado'}}</label>


        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>


<div class="center-content">
  <mat-card class="skill-card">

    <mat-card-title class="center-title">Suas aptidões <button type="button"
        [routerLink]="['candidato', this.userLogged.id, 'teste']" class="btn btn-primary btn-sm space-button">Refazer
        teste de aptidão</button></mat-card-title>


    <mat-card-content class="user-content">
      <div class="container">

        <div class="row col-lg-4 col-md-8 col-sm-8 result">

          <app-user-inteligence-result-chart [userResultSkills]="this.userSkillsByIntelligence"
            [userName]="this.userLogged.nome"></app-user-inteligence-result-chart>


        </div>
      </div>
    </mat-card-content>




  </mat-card>
</div>

<div>
  <mat-card class="banner-card-vac">

    <mat-card-header class="header-content">
      <mat-card-title class="title-vacancy">
        Vagas para você!
      </mat-card-title>

    </mat-card-header>

  </mat-card>
</div>

<div class="vacancies">
  <mat-card class="vacancies-card" *ngFor="let vacancy of userBestVacancies">

    <mat-card-header class="header-content">
      <mat-card-title class="title-vacancy">
        {{vacancy.titulo}}
      </mat-card-title>

    </mat-card-header>

    <mat-card-content class="vacancy-content">

      <div class="container">

        <div class="row">

          <label class="col-md-4" for="inputdefault">Empresa<br />{{vacancy.empresa}}</label>
          <label class="col-md-4" for="inputdefault">Quantidade de vagas<br />{{vacancy.quantidade}} vaga(s)</label>
          <label class="col-md-4" for="inputdefault">Modalidade<br />{{vacancy.modalidade}}</label>
          <br />
          <label class="col-md-4 distance-between" for="inputdefault">Beneficios da vaga<br />
            <ul class="vacancy-list">
              <li>Beneficios {{vacancy.beneficios}}</li>
            </ul>
          </label><br />
          <label class="col-md-4 distance-between" for="inputdefault">Requisitos da vaga<br />
            <ul class="vacancy-list">
              <li>Requisitos {{vacancy.requisitos}}</li>
            </ul>
          </label>
          <label class="col-md-4 distance-between" for="inputdefault">Data de criação<br />{{vacancy.data| date:
            "dd/MM/yyyy"}}</label>
          <label class="col-md-4 distance-between" for="inputdefault">Localização<br />{{vacancy.localizacao}}</label>
          <div class="description">
            <label class="col-md-4" for="inputdefault">Descrição da vaga<br />{{vacancy.descricao}}</label><br />
          </div>



          <app-user-inteligence-list-chart [userIntelligenceVacancyRecommendations]="vacancy" class="col-md-6 result">
          </app-user-inteligence-list-chart>



        </div>

      </div>


    </mat-card-content>

    <mat-card-actions>
      <button (click)="sendCandidature(vacancy)" type="button" class="btn btn-sm space-button">Candidatar a
        vaga</button>
    </mat-card-actions>


  </mat-card>
</div>
