<div>
    <mat-card class="add-vacancy-card">

        <mat-card-header class="title-vacancy">
            <span class="material-icons">add_circle_outline</span>
            <mat-card-title class="add-title"><a>Crie vagas e oportunidades para sua empresa</a></mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
<div>
    <mat-card class="vacancy-card">


        <mat-card-header>
            <mat-card-title>Filtro</mat-card-title>
        </mat-card-header>



        <mat-card-content class="filter-content">

            <form class="example-form">

                <div class="form-group">
                    <label class="label-filter">Benefícios</label>
                    <div class="col select-filters">
                        <div ngbDropdown class="d-inline-block select-filters">
                            <button type="button" class="btn btn-outline-primary" id="dropdownBenefits"
                                ngbDropdownToggle>Beneficios</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownCategory">
                                <button ngbDropdownItem></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label-filter">Requisitos</label>
                    <div class="col select-filters">
                        <div ngbDropdown class="d-inline-block select-filters">
                            <button type="button" class="btn btn-outline-primary" id="dropdownRequires"
                                ngbDropdownToggle>Requisitos</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownCategory">
                                <button ngbDropdownItem></button>
                            </div>
                        </div>
                    </div>
                </div>


                <label class="label-filter" for="typeahead-basic">Vagas Confidenciais</label>
                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Sim</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Não</label>

                </div>
                <br />
                <label class="label-filter" for="typeahead-basic">Vagas Presenciais</label>
                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Sim</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Não</label>

                </div>
                <br />
                <div *ngIf="" class="form-group">
                    <label class="label-filter">Localização</label>
                    <div class="col select-filters">
                        <div ngbDropdown class="d-inline-block select-filters">
                            <button type="button" class="btn btn-outline-primary" id="dropdownLocation"
                                ngbDropdownToggle>Localização</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownCategory">
                                <button ngbDropdownItem></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">

                    <label class="label-filter">Quantidade de vagas máxima</label>
                    <br />
                    <input id="maxVacancyQuantity" class="form-control" type="number" class="form-control" />
                </div>
                <br />
                <label class="label-filter">Salário (R$)</label>
                <br />
                <mat-slider thumbLabel tickInterval="1000" step="1000" min="0" max="100000" aria-label="Reais">
                </mat-slider>
                <button type="button" class="btn btn-primary apply-btn">Aplicar</button>

            </form>

        </mat-card-content>



    </mat-card>
</div>

<div>
    <mat-card class="vacancies-card">

        <mat-card-header class="header-content">
            <mat-card-title class="title-vacancy">
                Consultor Senior
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="vacancy-content">

            <div class="container">

                <div class="row">

                    <span class="material-icons col-md-4">account_circle</span>
                    <label class="col-md-4" for="inputdefault">Salário<br />A combinar</label>
                    <label class="col-md-4" for="inputdefault">Quantidade de vagas<br />4 vagas</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Modalidade<br />Híbrido (2x/semana
                        presencial)</label>
                    <br />
                    <label class="col-md-4 distance-between" for="inputdefault">Beneficios da vaga<br />
                        <ul class="vacancy-list col-md-8">
                            <li>VR + VT (A combinar)</li>
                            <li>Convenio Médico</li>
                            <li>Convenio Odontológico</li>
                            <li>Gym Pass</li>
                        </ul>
                    </label><br />
                    <label class="col-md-4 distance-between" for="inputdefault">Requisitos da vaga<br />
                        <ul class="vacancy-list col-md-4">
                            <li>2 anos de experiência na área</li>
                            <li>Superior Completo</li>
                            <li>Conhecimento em arquitetura</li>
                            <li>Conhecimento de MongoDB é um diferencial</li>
                        </ul>
                    </label><br />
                    <div class="description">
                        <label for="inputdefault">Descrição da vaga<br />A empresa X está atuando no ramo da tecnologia
                            a
                            mais de 10 anos e agora busca um profissional experiente e dedicado</label><br />
                    </div>

                </div>

            </div>


        </mat-card-content>




    </mat-card>

    <mat-card class="vacancies-card">

        <mat-card-header class="header-content">
            <mat-card-title class="title-vacancy">
                Consultor Senior
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="vacancy-content">

            <div class="container">

                <div class="row">

                    <span class="material-icons col-md-4">account_circle</span>
                    <label class="col-md-4" for="inputdefault">Salário<br />A combinar</label>
                    <label class="col-md-4" for="inputdefault">Quantidade de vagas<br />4 vagas</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Modalidade<br />Híbrido (2x/semana
                        presencial)</label>
                    <br/>
                    <label class="col-md-4 distance-between" for="inputdefault">Beneficios da vaga<br />
                        <ul class="vacancy-list col-md-8">
                            <li>VR + VT (A combinar)</li>
                            <li>Convenio Médico</li>
                            <li>Convenio Odontológico</li>
                            <li>Gym Pass</li>
                        </ul>
                    </label><br />
                    <label class="col-md-4 distance-between" for="inputdefault">Requisitos da vaga<br />
                        <ul class="vacancy-list col-md-4">
                            <li>2 anos de experiência na área</li>
                            <li>Superior Completo</li>
                            <li>Conhecimento em arquitetura</li>
                            <li>Conhecimento de MongoDB é um diferencial</li>
                        </ul>
                    </label><br />
                    <br />
                    <label class="col-md-4 distance-between" for="inputdefault">
                        Avaliação Geral<br/>
                        <ngb-rating class="rate" [max]="5"></ngb-rating>
                    </label>
                    <div class="description">
                        <label for="inputdefault">Descrição da vaga<br />A empresa X está atuando no ramo da tecnologia
                            a
                            mais de 10 anos e agora busca um profissional experiente e dedicado</label><br />
                    </div>

                </div>

            </div>


        </mat-card-content>




    </mat-card>




    <!-- <mat-paginator #paginator class="paginator" [length]="100" [pageSize]="10" [pageSizeOptions]="[1, 5, 25, 100]"
        (page)="pageEvent = $event" aria-label="Select page">
    </mat-paginator> -->

</div>