<div>
    <mat-card class="add-vacancy-card">

        <mat-card-header class="title-vacancy">
            <span (click)="goToVacancyRegister()" class="material-icons">add_circle_outline</span>
            <mat-card-title class="add-title"><a>Crie vagas e oportunidades para sua empresa</a></mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
<div>
    <mat-card class="filter-card">


        <mat-card-header>
            <mat-card-title>Filtro</mat-card-title>
        </mat-card-header>



        <mat-card-content class="filter-content">

            <form class="example-form">


                <label class="label-filter" for="typeahead-basic">Benefícios</label>
                <div class="col select-filters">
                    <div ngbDropdown class="d-inline-block select-filters">
                        <button type="button" class="btn btn-outline-primary" id="dropdownBenefits"
                            ngbDropdownToggle>Beneficios</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownCategory">
                            <button (click)="changeBenefit(benefit)" *ngFor="let benefit of benefits" ngbDropdownItem>{{benefit}}</button>
                        </div>
                    </div>
                </div>



                <label class="label-filter">Requisitos</label>
                <div class="col select-filters">
                    <div ngbDropdown class="d-inline-block select-filters">
                        <button type="button" class="btn btn-outline-primary" id="dropdownRequires"
                            ngbDropdownToggle>Requisitos</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownCategory">
                            <button (click)="changeRequirement(requirement)" *ngFor="let requirement of requirements" ngbDropdownItem>{{requirement}}</button>
                        </div>
                    </div>
                </div>

                <label class="label-filter" for="typeahead-basic">Vagas Confidenciais</label>
                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input (click)="vacancyConfidenciality(true)" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Sim</label>

                    <input (click)="vacancyConfidenciality(false)" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Não</label>

                </div>
                <br />
                <label class="label-filter" for="typeahead-basic">Vagas Presenciais</label>
                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input (click)="vacancyPresencial(true)" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Sim</label>

                    <input (click)="vacancyPresencial(false)" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Não</label>

                </div>
                <br />
                <div *ngIf="" class="form-group">
                    <label class="label-filter">Localização</label>
                    <div class="col select-filters">
                        <div ngbDropdown class="d-inline-block select-filters">
                            <button type="button" class="btn btn-outline-primary" id="dropdownLocation"
                                ngbDropdownToggle>Localização</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownCategory">
                                <button (click)="changeLocation(location)" *ngFor="let location of locations" ngbDropdownItem>{{location}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">

                    <label class="label-filter">Quantidade de vagas máxima</label>
                    <br />
                    <input id="maxVacancyQuantity" class="form-control" type="number" class="form-control" />
                </div>
                <br />
                <div class="form-group">

                    <label class="label-filter">Categoria</label>
                    <br />
                    <input id="vacancyCategory" class="form-control" type="text" />
                </div>
                <br />
                <label class="label-filter">Salário (R$)</label>
                <br />
                <mat-slider (change)="changeVacancySalary($event)" thumbLabel tickInterval="1000" step="1000" min="0" max="100000" aria-label="Reais">
                </mat-slider>
                <button (click)="applyFilters()" type="button" class="btn btn-primary apply-btn">Aplicar</button>

            </form>

        </mat-card-content>



    </mat-card>
</div>

<div>
    <mat-card class="vacancies-card" *ngFor="let vacancy of this.vacancies|async |slice:((paginator.pageIndex)*paginator.pageSize):((paginator.pageIndex+1)*paginator.pageSize)">

        <mat-card-header class="header-content">
            <mat-card-title class="title-vacancy">
                {{vacancy.vacancyTitle}}
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="vacancy-content">

            <div class="container">

                <div class="row">

                    <span class="material-icons col-md-4">account_circle</span>
                    <label class="col-md-4" for="inputdefault">Salário<br />{{vacancy.salary}}</label>
                    <label class="col-md-4" for="inputdefault">Quantidade de vagas<br />{{vacancy.quantity}} vaga(s)</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Modalidade<br />{{vacancy.modalidity}} {{vacancy.modalidity == 'Hibrido' ? vacancy.semanalQuantity: ''}}</label>
                    <br />
                    <label class="col-md-4 distance-between" for="inputdefault">Beneficios da vaga<br />
                        <ul class="vacancy-list col-md-8" *ngFor="let benefit of this.vacancy.benefits">
                            <li>Descrição {{benefit.description}}</li>
                            <li>Valor {{benefit.value}}</li>
                        </ul>
                    </label><br />
                    <label class="col-md-4 distance-between" for="inputdefault">Requisitos da vaga<br />
                        <ul class="vacancy-list col-md-4" *ngFor="let requirement of this.vacancy.requirements">
                            <li>Descrição {{requirement.description}}</li>
                            <li>Diferencial {{requirement.differencial != undefined ? '- ' + requirement.differencial : ''}}</li>
                        </ul>
                    </label><br />
                    <label class="col-md-4" for="inputdefault">Localização<br />{{vacancy.location}}</label><br />
                    <label class="col-md-4" for="inputdefault">Categoria<br />{{vacancy.category}}</label>
                    <label class="col-md-4" for="inputdefault">Criação<br />{{ vacancy.creationDate.getDate() }}/{{ vacancy.creationDate.getMonth() + 1 }}/{{ vacancy.creationDate.getFullYear() }}</label>
                    <div class="description">
                        <label for="inputdefault">Descrição da vaga<br />{{vacancy.description}}</label><br />
                    </div>

                    <div class="description">
                        <button type="button" [routerLink]="" class="btn btn-primary btn-sm space-button">Editar vaga</button>
                        <button type="button" [routerLink]="" class="btn btn-primary btn-sm space-button">Vaga preenchida</button>
                        <button type="button" [routerLink]="['empresa','vagas','detalhes', vacancy.id]" class="btn btn-primary btn-sm space-button">Detalhes da vaga</button>
                        <button (click)="deleteVacancyModal(vacancy.id)" type="button"  class="btn btn-danger btn-sm space-button">Excluir vaga</button>
                        <button (click)="openMetricsDetails(vacancy.id)" type="button" class="btn btn-primary btn-sm space-button">Detalhes da vaga</button>
                        <button (click)="sendEmailCandidature(vacancy)" type="button" class="btn btn-primary btn-sm space-button">Candidatar a vaga</button>
                    </div>

                </div>

            </div>


        </mat-card-content>




    </mat-card>


    <mat-paginator #paginator class="paginator" [length]="100" [pageSize]="10" [pageSizeOptions]="[1, 5, 25, 100]"
        (page)="pageEvent = $event" aria-label="Select page">
    </mat-paginator>

</div>