<div class="container">
    <form>
        <div class="row">
            <mat-label>Objetivo</mat-label>
            <br />
            <textarea id="vacancyDescription" class="text-area-form" required></textarea>
            <!-- <div
                *ngIf="formVacancy.get('vacancyDescription')?.invalid && (formVacancy.get('vacancyDescription')?.dirty || formVacancy.get('vacancyDescription')?.touched)">
                <p *ngIf="formVacancy.get('vacancyDescription')?.errors?.['required']">
                    Descrição do curso é necessária.
                </p>
            </div> -->
            <section>
                <mat-checkbox>
                    Trabalhando
                </mat-checkbox>
            </section>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Empresa atual</mat-label>
                <input id="userEmail" class="form-control" [(ngModel)]="this.user.actualCompany"
                    type="text" matInput autocomplete="off" placeholder="Empresa atual" required />
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Cargo atual</mat-label>
                <input id="userEmail" class="form-control" [(ngModel)]="this.user.actualCharge"
                    type="text" matInput autocomplete="off" placeholder="Cargo atual" required />
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Pretensão salarial</mat-label>
                <input id="userEmail" class="form-control" [(ngModel)]="this.user.salaryPretension"
                    type="text" matInput autocomplete="off" placeholder="Pretensão salarial"
                    required />
            </mat-form-field>




        </div>
    </form>

    <mat-card class="benefit-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Experiências anteriores
            </mat-card-title>
            <span class="material-icons col-4">add_circle_outline</span>
            <span class="material-icons col-4">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">

                <form>
                    <div class="row">

                        <mat-form-field class="col-md-4">
                            <mat-label class="placeholder-color">Nome da empresa</mat-label>
                            <input id="benefitDescription" matInput class="form-control"
                                type="text" autocomplete="off"
                                placeholder="Nome da empresa" required />
                        </mat-form-field>
                        <!-- <div
                                *ngIf="formBenefits.get('benefitDescription')?.invalid && (formBenefits.get('benefitDescription')?.dirty || formBenefits.get('benefitDescription')?.touched)">
                                <p *ngIf="formBenefits.get('benefitDescription')?.errors?.['required']">
                                    Descrição do beneficio é necessária.
                                </p>
                            </div> -->

                        <mat-form-field class="col-md-4">
                            <mat-label class="placeholder-color">Cargo</mat-label>
                            <input id="benefitValue" matInput class="form-control"
                                type="text" autocomplete="off" placeholder="Valor do beneficio" required />
                        </mat-form-field>
                        <!-- <div
                                *ngIf="formBenefits.get('benefitValue')?.invalid && (formBenefits.get('benefitValue')?.dirty || formBenefits.get('benefitValue')?.touched)">
                                <p *ngIf="formBenefits.get('benefitValue')?.errors?.['required']">
                                    Valor do beneficio é necessário.
                                </p>
                            </div> -->
                        <mat-form-field class="col-md-4">
                            <mat-label class="placeholder-color">Tempo de atividade (Meses)</mat-label>
                            <input id="benefitValue" matInput class="form-control"
                                type="number" autocomplete="off" placeholder="Valor do beneficio" required />
                        </mat-form-field>

                    </div>
                </form>

            </div>


        </mat-card-content>


    </mat-card>

    <mat-card class="benefit-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Formações anteriores
            </mat-card-title>
            <span class="material-icons col-4">add_circle_outline</span>
            <span class="material-icons col-4">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">

                <form>
                    <div class="row">

                        <mat-form-field class="col-md-4">
                            <mat-label class="placeholder-color">Institução de ensino</mat-label>
                            <input id="benefitDescription" matInput class="form-control"
                                type="text" autocomplete="off"
                                placeholder="Institução de ensino" required />
                        </mat-form-field>
                        <!-- <div
                                *ngIf="formBenefits.get('benefitDescription')?.invalid && (formBenefits.get('benefitDescription')?.dirty || formBenefits.get('benefitDescription')?.touched)">
                                <p *ngIf="formBenefits.get('benefitDescription')?.errors?.['required']">
                                    Descrição do beneficio é necessária.
                                </p>
                            </div> -->
                        <mat-form-field class="col-md-4">
                            <mat-label class="placeholder-color">Curso</mat-label>
                            <input id="benefitDescription" matInput class="form-control"
                                type="text" autocomplete="off" placeholder="Curso"
                                required />
                        </mat-form-field>
                        <!-- <div
                                *ngIf="formBenefits.get('benefitValue')?.invalid && (formBenefits.get('benefitValue')?.dirty || formBenefits.get('benefitValue')?.touched)">
                                <p *ngIf="formBenefits.get('benefitValue')?.errors?.['required']">
                                    Valor do beneficio é necessário.
                                </p>
                            </div> -->
                        <mat-form-field class="col-md-4">
                            <mat-label class="placeholder-color">Descrição do curso</mat-label>
                            <textarea id="benefitDescription" class="text-area-form" required></textarea>
                        </mat-form-field>
                        <!-- <div
                                *ngIf="formBenefits.get('benefitValue')?.invalid && (formBenefits.get('benefitValue')?.dirty || formBenefits.get('benefitValue')?.touched)">
                                <p *ngIf="formBenefits.get('benefitValue')?.errors?.['required']">
                                    Valor do beneficio é necessário.
                                </p>
                            </div> -->
                        <mat-form-field class="col-md-4">
                            <mat-label class="placeholder-color">Tempo decorrido</mat-label>
                            <input id="benefitDescription" matInput class="form-control"
                                type="number" autocomplete="off"
                                placeholder="Tempo decorrido" required />
                        </mat-form-field>

                    </div>
                </form>

            </div>


        </mat-card-content>


    </mat-card>

    <mat-card class="benefit-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Certificações
            </mat-card-title>
            <span class="material-icons col-4">add_circle_outline</span>
            <span class="material-icons col-4">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">

                <form>
                    <div class="row">
                        <mat-form-field class="col-md-4">
                            <mat-label class="placeholder-color">Plataforma</mat-label>
                            <input id="benefitDescription" matInput class="form-control"
                                type="text" autocomplete="off"
                                placeholder="Plataforma" required />
                        </mat-form-field>
                        <!-- <div
                           *ngIf="formBenefits.get('benefitValue')?.invalid && (formBenefits.get('benefitValue')?.dirty || formBenefits.get('benefitValue')?.touched)">
                           <p *ngIf="formBenefits.get('benefitValue')?.errors?.['required']">
                               Valor do beneficio é necessário.
                           </p>
                       </div> -->
                        <mat-form-field class="col-md-4">
                            <mat-label class="placeholder-color">Descrição certificado</mat-label>
                            <textarea id="benefitDescription" class="text-area-form" required></textarea>
                        </mat-form-field>
                        <!-- <div
                                *ngIf="formBenefits.get('benefitDescription')?.invalid && (formBenefits.get('benefitDescription')?.dirty || formBenefits.get('benefitDescription')?.touched)">
                                <p *ngIf="formBenefits.get('benefitDescription')?.errors?.['required']">
                                    Descrição do beneficio é necessária.
                                </p>
                            </div> -->
                        <mat-form-field class="col-md-4">
                            <mat-label class="placeholder-color">Tempo de curso</mat-label>
                            <input id="benefitDescription" matInput class="form-control"
                                type="number" autocomplete="off"
                                placeholder="Tempo decorrido" required />
                        </mat-form-field>
                        <!-- <div
                                *ngIf="formBenefits.get('benefitValue')?.invalid && (formBenefits.get('benefitValue')?.dirty || formBenefits.get('benefitValue')?.touched)">
                                <p *ngIf="formBenefits.get('benefitValue')?.errors?.['required']">
                                    Valor do beneficio é necessário.
                                </p>
                            </div> -->

                    </div>
                </form>

            </div>


        </mat-card-content>


    </mat-card>
</div>