<div class="container">
    <form [formGroup]="formUserDetails">
        <div class="row">
            <mat-label>Objetivo</mat-label>
            <br />
            <textarea id="userObjective" class="text-area-form" required>{{this.user.objective}}</textarea>
            <div
                *ngIf="this.needObjective">
                <p>
                    Objetivo é necessário.
                </p>
            </div>
            <section class="pad-top">
                <mat-checkbox (change)="changeIsWorking()">
                    Trabalhando
                </mat-checkbox>
            </section>
            <mat-form-field *ngIf="IsWorking" class="col-md-4">
                <mat-label class="placeholder-color">Empresa atual</mat-label>
                <input id="userEmail" class="form-control" [(ngModel)]="this.user.actualCompany"
                    formControlName="actualCompany" type="text" matInput autocomplete="off" placeholder="Empresa atual"
                    required />
            </mat-form-field>
            <div
                *ngIf="formUserDetails.get('actualCompany')?.invalid && (formUserDetails.get('actualCompany')?.dirty || formUserDetails.get('actualCompany')?.touched)">
                <p *ngIf="formUserDetails.get('actualCompany')?.errors?.['required']">
                    Empresa atual é necessário.
                </p>
            </div>
            <mat-form-field *ngIf="IsWorking" class="col-md-4">
                <mat-label class="placeholder-color">Cargo atual</mat-label>
                <input id="userEmail" class="form-control" [(ngModel)]="this.user.actualCharge"
                    formControlName="actualCharge" type="text" matInput autocomplete="off" placeholder="Cargo atual"
                    required />
            </mat-form-field>
            <div
                *ngIf="formUserDetails.get('vacancyDescription')?.invalid && (formUserDetails.get('vacancyDescription')?.dirty || formUserDetails.get('vacancyDescription')?.touched)">
                <p *ngIf="formUserDetails.get('vacancyDescription')?.errors?.['required']">
                    Cargo atual é necessário.
                </p>
            </div>
            <mat-form-field class="col-md-4">
                <mat-label class="placeholder-color">Pretensão salarial</mat-label>
                <input id="userEmail" class="form-control" [(ngModel)]="this.user.salaryPretension"
                    formControlName="salaryPretension" type="text" matInput autocomplete="off"
                    placeholder="Pretensão salarial" required />
            </mat-form-field>
            <div
                *ngIf="formUserDetails.get('salaryPretension')?.invalid && (formUserDetails.get('salaryPretension')?.dirty || formUserDetails.get('salaryPretension')?.touched)">
                <p *ngIf="formUserDetails.get('salaryPretension')?.errors?.['required']">
                    Pretensão salarial é necessário.
                </p>
            </div>


        </div>
    </form>

    <mat-card class="benefit-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Experiências anteriores
            </mat-card-title>
            <span (click)="this.addExperience()" class="material-icons col-4">add_circle_outline</span>
            <span (click)="this.removeExperience()" class="material-icons col-4">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">

                <form [formGroup]="formUserExperiences">
                    <div class="column">

                        <mat-form-field>
                            <mat-label class="placeholder-color">Nome da empresa</mat-label>
                            <input id="companyName" matInput class="form-control" formControlName="companyName" [(ngModel)]="this.experience.company"
                                type="text" autocomplete="off" placeholder="Nome da empresa" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserExperiences.get('companyName')?.invalid && (formUserExperiences.get('companyName')?.dirty || formUserExperiences.get('companyName')?.touched)">
                            <p *ngIf="formUserExperiences.get('companyName')?.errors?.['required']">
                                Nome da empresa é necessário.
                            </p>
                        </div>

                        <mat-form-field>
                            <mat-label class="placeholder-color">Cargo</mat-label>
                            <input id="chargeDescription" matInput class="form-control" [(ngModel)]="this.experience.chargeDescription" formControlName="chargeDescription"
                                type="text" autocomplete="off" placeholder="Valor do beneficio" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserExperiences.get('chargeDescription')?.invalid && (formUserExperiences.get('chargeDescription')?.dirty || formUserExperiences.get('chargeDescription')?.touched)">
                            <p *ngIf="formUserExperiences.get('chargeDescription')?.errors?.['required']">
                                Cargo da empresa é necessário.
                            </p>
                        </div>
                        <mat-form-field>
                            <mat-label class="placeholder-color">Tempo de atividade (Meses)</mat-label>
                            <input id="timeSpentExperience" matInput class="form-control" [(ngModel)]="this.experience.timeSpent" formControlName="timeSpent"
                                type="number" autocomplete="off" placeholder="Valor do beneficio" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserExperiences.get('timeSpent')?.invalid && (formUserExperiences.get('timeSpent')?.dirty || formUserExperiences.get('timeSpent')?.touched)">
                            <p *ngIf="formUserExperiences.get('timeSpent')?.errors?.['required']">
                                Tempo de atividade é necessário.
                            </p>
                        </div>
                    </div>
                </form>

            </div>


        </mat-card-content>


    </mat-card>

    <!-- lista experiencia anteriores cadastradas -->
    <mat-card class="benefit-card" *ngFor="let experience of this.experiences; let position = index">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Experiência anterior
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">
                
                    <div class="column">

                        <mat-form-field>
                            <mat-label class="placeholder-color">Nome da empresa</mat-label>
                            <input value="{{experience.company}}" id="benefitDescription" matInput class="form-control" formControlName="companyName"
                                type="text" autocomplete="off" placeholder="Nome da empresa" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserExperiences.get('companyName')?.invalid && (formUserExperiences.get('companyName')?.dirty || formUserExperiences.get('companyName')?.touched)">
                            <p *ngIf="formUserExperiences.get('companyName')?.errors?.['required']">
                                Nome da empresa é necessário.
                            </p>
                        </div>

                        <mat-form-field>
                            <mat-label class="placeholder-color">Cargo</mat-label>
                            <input value="{{experience.chargeDescription}}" id="benefitValue" matInput class="form-control" formControlName="chargeDescription"
                                type="text" autocomplete="off" placeholder="Valor do beneficio" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserExperiences.get('chargeDescription')?.invalid && (formUserExperiences.get('chargeDescription')?.dirty || formUserExperiences.get('chargeDescription')?.touched)">
                            <p *ngIf="formUserExperiences.get('chargeDescription')?.errors?.['required']">
                                Cargo da empresa é necessário.
                            </p>
                        </div>
                        <mat-form-field>
                            <mat-label class="placeholder-color">Tempo de atividade (Meses)</mat-label>
                            <input value="{{experience.timeSpent}}" id="benefitValue" matInput class="form-control" formControlName="timeSpent"
                                type="number" autocomplete="off" placeholder="Valor do beneficio" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserExperiences.get('timeSpent')?.invalid && (formUserExperiences.get('timeSpent')?.dirty || formUserExperiences.get('timeSpent')?.touched)">
                            <p *ngIf="formUserExperiences.get('timeSpent')?.errors?.['required']">
                                Tempo de atividade é necessário.
                            </p>
                        </div>
                    </div>

            </div>


        </mat-card-content>

        <mat-card-actions align="end">
            <button (click)="editExperienceByIndex(position)" mat-button>Editar</button>
            <button (click)="removeExperienceByIndex(position)" mat-button>Remover</button>
        </mat-card-actions>


    </mat-card>

    <!-- lista experiencia anteriores cadastradas -->

    <mat-card class="benefit-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Formações anteriores
            </mat-card-title>
            <span (click)="this.addGraduation" class="material-icons col-4">add_circle_outline</span>
            <span (click)="this.removeGraduation" class="material-icons col-4">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">

                <form [formGroup]="formUserGraduation">
                    <div class="column">

                        <mat-form-field>
                            <mat-label class="placeholder-color">Institução de ensino</mat-label>
                            <input id="institute" matInput class="form-control" [(ngModel)]="this.graduation.institute" formControlName="institute"
                                type="text" autocomplete="off" placeholder="Institução de ensino" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserGraduation.get('institute')?.invalid && (formUserGraduation.get('institute')?.dirty || formUserGraduation.get('institute')?.touched)">
                            <p *ngIf="formUserGraduation.get('institute')?.errors?.['required']">
                                instituição é necessária.
                            </p>
                        </div>
                        <mat-form-field>
                            <mat-label class="placeholder-color">Curso</mat-label>
                            <input id="course" matInput class="form-control" [(ngModel)]="this.graduation.course" formControlName="course"
                                type="text" autocomplete="off" placeholder="Curso" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserGraduation.get('course')?.invalid && (formUserGraduation.get('course')?.dirty || formUserGraduation.get('course')?.touched)">
                            <p *ngIf="formUserGraduation.get('course')?.errors?.['required']">
                                Curso é necessário.
                            </p>
                        </div>
                        <br />
                        <mat-label>Descrição do curso</mat-label>
                        <textarea id="courseDescription" class="text-area-form" required></textarea>
                        <div
                            *ngIf="formUserGraduation.get('graduationDescription')?.invalid && (formUserGraduation.get('graduationDescription')?.dirty || formUserGraduation.get('graduationDescription')?.touched)">
                            <p *ngIf="formUserGraduation.get('graduationDescription')?.errors?.['required']">
                                Descrição é necessário.
                            </p>
                        </div>
                        <mat-form-field>
                            <mat-label class="placeholder-color">Tempo decorrido</mat-label>
                            <input id="timeSpentGraduation" matInput class="form-control" [(ngModel)]="this.graduation.timeSpent" formControlName="timeSpent"
                                type="number" autocomplete="off" placeholder="Tempo decorrido" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserGraduation.get('timeSpent')?.invalid && (formUserGraduation.get('timeSpent')?.dirty || formUserGraduation.get('timeSpent')?.touched)">
                            <p *ngIf="formUserGraduation.get('timeSpent')?.errors?.['required']">
                                Tempo decorrido é necessário.
                            </p>
                        </div>

                    </div>
                </form>

            </div>


        </mat-card-content>


    </mat-card>

    <!-- lista formações anteriores cadastradas -->
    <mat-card class="benefit-card" *ngFor="let graduation of this.graduations; let position = index">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Formação anterior
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">

                <form [formGroup]="formUserGraduation">
                    <div class="column">

                        <mat-form-field>
                            <mat-label class="placeholder-color">Institução de ensino</mat-label>
                            <input id="benefitDescription" value="{{graduation.institute}}" matInput class="form-control" formControlName="institute"
                                type="text" autocomplete="off" placeholder="Institução de ensino" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserGraduation.get('institute')?.invalid && (formUserGraduation.get('institute')?.dirty || formUserGraduation.get('institute')?.touched)">
                            <p *ngIf="formUserGraduation.get('institute')?.errors?.['required']">
                                instituição é necessária.
                            </p>
                        </div>
                        <mat-form-field>
                            <mat-label class="placeholder-color">Curso</mat-label>
                            <input id="benefitDescription" value="{{graduation.course}}" matInput class="form-control" formControlName="course"
                                type="text" autocomplete="off" placeholder="Curso" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserGraduation.get('course')?.invalid && (formUserGraduation.get('course')?.dirty || formUserGraduation.get('course')?.touched)">
                            <p *ngIf="formUserGraduation.get('course')?.errors?.['required']">
                                Curso é necessário.
                            </p>
                        </div>
                        <br />
                        <mat-label>Descrição do curso</mat-label>
                        <textarea id="courseDescriptionEdit" class="text-area-form" required>{{graduation.graduationDescription}}</textarea>
                        <div
                            *ngIf="formUserGraduation.get('graduationDescription')?.invalid && (formUserGraduation.get('graduationDescription')?.dirty || formUserGraduation.get('graduationDescription')?.touched)">
                            <p *ngIf="formUserGraduation.get('graduationDescription')?.errors?.['required']">
                                Descrição é necessário.
                            </p>
                        </div>
                        <mat-form-field>
                            <mat-label class="placeholder-color">Tempo decorrido</mat-label>
                            <input value="{{graduation.timeSpent}}" id="benefitDescription" matInput class="form-control" formControlName="timeSpent"
                                type="number" autocomplete="off" placeholder="Tempo decorrido" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserGraduation.get('timeSpent')?.invalid && (formUserGraduation.get('timeSpent')?.dirty || formUserGraduation.get('timeSpent')?.touched)">
                            <p *ngIf="formUserGraduation.get('timeSpent')?.errors?.['required']">
                                Tempo decorrido é necessário.
                            </p>
                        </div>

                    </div>
                </form>

            </div>


        </mat-card-content>

        <mat-card-actions align="end">
            <button (click)="editGraduationByIndex(position)" mat-button>Editar</button>
            <button (click)="removeGraduationByIndex(position)" mat-button>Remover</button>
        </mat-card-actions>


    </mat-card>
    <!-- lista formações anteriores cadastradas -->

    <mat-card class="benefit-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Certificações
            </mat-card-title>
            <span (click)="this.addCertification" class="material-icons col-4">add_circle_outline</span>
            <span (click)="this.removeCertification" class="material-icons col-4">remove_circle_outline</span>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">

                <form [formGroup]="formUserCertification">
                    <div class="column">
                        <mat-form-field>
                            <mat-label class="placeholder-color">Plataforma</mat-label>
                            <input id="platform" matInput class="form-control" [(ngModel)]="this.certification.platform" formControlName="platform"
                                type="text" autocomplete="off" placeholder="Plataforma" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserCertification.get('platform')?.invalid && (formUserCertification.get('platform')?.dirty || formUserCertification.get('platform')?.touched)">
                            <p *ngIf="formUserCertification.get('platform')?.errors?.['required']">
                                Plataforma é necessário.
                            </p>
                        </div>
                        <mat-label>Descrição do certificado</mat-label>
                        <br />
                        <textarea id="certificationDescription" class="text-area-form" required>{{certification.certificationDescription}}</textarea>
                        <div
                            *ngIf="formUserCertification.get('certificationDescription')?.invalid && (formUserCertification.get('certificationDescription')?.dirty || formUserCertification.get('certificationDescription')?.touched)">
                            <p *ngIf="formUserCertification.get('certificationDescription')?.errors?.['required']">
                                Descrição é necessário.
                            </p>
                        </div>
                        <mat-form-field>
                            <mat-label class="placeholder-color">Tempo de curso</mat-label>
                            <input id="timeSpentCertification" matInput class="form-control" [(ngModel)]="this.certification.timeSpent" type="number"
                                autocomplete="off" placeholder="Tempo decorrido" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserCertification.get('timeSpent')?.invalid && (formUserCertification.get('timeSpent')?.dirty || formUserCertification.get('timeSpent')?.touched)">
                            <p *ngIf="formUserCertification.get('timeSpent')?.errors?.['required']">
                                Valor do beneficio é necessário.
                            </p>
                        </div>

                    </div>
                </form>

            </div>


        </mat-card-content>


    </mat-card>

    <!-- lista certificações cadastradas -->
    <mat-card class="benefit-card" *ngFor="let certification of this.certifications; let position = index">

        <mat-card-header class="title-vacancy">
            <mat-card-title fxLayoutAlign="center" class="title-vacancy">
                Certificação
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="benefit-content">

            <div class="container">
                
                    <div class="column">
                        <mat-form-field>
                            <mat-label class="placeholder-color">Plataforma</mat-label>
                            <input id="benefitDescription" value="{{certification.platform}}" matInput class="form-control" formControlName="platform"
                                type="text" autocomplete="off" placeholder="Plataforma" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserCertification.get('platform')?.invalid && (formUserCertification.get('platform')?.dirty || formUserCertification.get('platform')?.touched)">
                            <p *ngIf="formUserCertification.get('platform')?.errors?.['required']">
                                Plataforma é necessário.
                            </p>
                        </div>
                        <mat-label>Descrição do curso</mat-label>
                        <br />
                        <textarea id="courseDescription" class="text-area-form" required>{{certification.certificationDescription}}</textarea>
                        <div
                            *ngIf="formUserGraduation.get('graduationDescription')?.invalid && (formUserGraduation.get('graduationDescription')?.dirty || formUserGraduation.get('graduationDescription')?.touched)">
                            <p *ngIf="formUserGraduation.get('graduationDescription')?.errors?.['required']">
                                Descrição é necessário.
                            </p>
                        </div>
                        <div
                            *ngIf="formUserCertification.get('certificationDescription')?.invalid && (formUserCertification.get('certificationDescription')?.dirty || formUserCertification.get('certificationDescription')?.touched)">
                            <p *ngIf="formUserCertification.get('certificationDescription')?.errors?.['required']">
                                Descrição do certificado é necessária.
                            </p>
                        </div>
                        <mat-form-field>
                            <mat-label class="placeholder-color">Tempo de curso</mat-label>
                            <input id="benefitDescription" matInput class="form-control" value="{{certification.timeSpent}}" type="number"
                                autocomplete="off" placeholder="Tempo decorrido" required />
                        </mat-form-field>
                        <div
                            *ngIf="formUserCertification.get('timeSpent')?.invalid && (formUserCertification.get('timeSpent')?.dirty || formUserCertification.get('timeSpent')?.touched)">
                            <p *ngIf="formUserCertification.get('timeSpent')?.errors?.['required']">
                                Valor do beneficio é necessário.
                            </p>
                        </div>

                    </div>

            </div>


        </mat-card-content>

        <mat-card-actions align="end">
            <button (click)="editCertificationByIndex(position)" mat-button>Editar</button>
            <button (click)="removeCertificationByIndex(position)" mat-button>Remover</button>
        </mat-card-actions>


    </mat-card>

    <!-- lista certificações cadastradas -->

    <button (click)="sendUserDetail()" type="button" class="btn btn-outline-primary" id="dropdownCategory">
        Concluído
    </button>
</div>