<div>
    <mat-card class="add-vacancy-card">

        <mat-card-header class="title-vacancy">
            <span class="material-icons">add_circle_outline</span>
            <mat-card-title class="add-title"><a>Busque candidatos mais adequados a vaga</a></mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
<div>
    <mat-card class="filter-card">


        <mat-card-header>
            <mat-card-title>Filtro</mat-card-title>
        </mat-card-header>



        <mat-card-content class="filter-content">

            <form class="example-form">


                <label class="label-filter" for="typeahead-basic">Trabalhando?</label>
                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input (click)="changeWorking(true)" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Sim</label>

                    <input (click)="changeWorking(false)" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Não</label>

                </div>

                <div class="form-group">
                    <label class="label-filter">Empresa atual</label>
                    <br />
                    <input id="actualCompany" class="form-control" type="text" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="label-filter">Cargo atual</label>
                    <br />
                    <input id="actualCharge" class="form-control" type="text" class="form-control" />
                </div>

                <br />
                <label class="label-filter">Idade</label>
                <br />
                <mat-slider (change)="changeAge($event)" thumbLabel tickInterval="1" step="1" min="0" max="100" aria-label="Idade">
                </mat-slider>

                <br />
                <label class="label-filter" for="typeahead-basic">Concluiu curso da vaga?</label>
                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input (click)="changeCourseConclusion(true)" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Sim</label>

                    <input (click)="changeCourseConclusion(false)" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Não</label>

                </div>
                <br />
                <br />
                <div class="form-group">

                    <label class="label-filter">Anos de experiência</label>
                    <br />
                    <mat-slider (change)="changeExperience($event)" thumbLabel tickInterval="1" step="1" min="0" max="100" aria-label="Ano">
                    </mat-slider>
                </div>
                <br />
                <label class="label-filter" for="typeahead-basic">Possui formação acadêmica?</label>
                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input (click)="changeHasGradutuation(true)" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Sim</label>

                    <input (click)="changeHasGradutuation(false)" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Não</label>

                </div>
                <br />
                <label class="label-filter" for="typeahead-basic">Possui certificados?</label>
                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input (click)="changeHasCertifications(true)" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Sim</label>

                    <input (click)="changeHasCertifications(false)" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Não</label>

                </div>
                <br/>
                <div class="form-group">

                    <label class="label-filter">Quantidade de certificados</label>
                    <br />
                    <input id="maxVacancyQuantity" class="form-control" type="number" class="form-control" />
                </div>
                
                <label class="label-filter">Pretensão Salarial (R$)</label>
                <br />
                <mat-slider (change)="changeSalaryPretension($event)" thumbLabel tickInterval="1000" step="1000" min="0" max="100000" aria-label="Reais">
                </mat-slider>
                
                <button (click)="applyFilters()" type="button" class="btn btn-primary apply-btn">Aplicar</button>

            </form>

        </mat-card-content>



    </mat-card>
</div>

<div *ngFor="let detail of vacancyDetails|async |slice:((paginator.pageIndex)*paginator.pageSize):((paginator.pageIndex+1)*paginator.pageSize)">
    <mat-card class="vacancies-card">

        <mat-card-header class="header-content">
            <mat-card-title class="title-vacancy">
                {{detail.userName}}
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="vacancy-content">

            <div class="container">

                <div class="row">

                    <span class="material-icons col-md-4 distance-pad-content">account_circle</span>
                    <label class="col-md-4 distance-between" for="inputdefault">Status<br />{{detail.isWorking? 'Trabalhando': 'Desempregado(a)'}}</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Empresa atual<br />{{detail.isWorking? detail.actualCompany: 'Nãa possui'}}</label>
                    <label class="col-md-4 distance-between distance-pad-content" for="inputdefault">Cargo atual<br />{{detail.isWorking? detail.actualCharge: 'Não Possui'}}</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Idade<br />{{detail.age}} anos</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Email<br />{{detail.email}}</label>
                    <label class="col-md-4 distance-between distance-pad-content" for="inputdefault">Contato<br />{{detail.phone}}</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Pretensão salarial<br />{{detail.salaryPretension}}</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Experiências anteriores<br />
                        <ul class="vacancy-list col-md-4"  *ngFor="let experience of detail.experiences">
                            <li>{{experience.chargeDescription}}</li>
                            <li>{{experience.company}}</li>
                            <li> {{experience.timeSpent}}</li>
                        </ul>
                    </label><br />                    
                    <label class="col-md-4 distance-between distance-pad-content" for="inputdefault">Formação Acadêmica<br />
                        <ul *ngFor="let graduation of detail.graduations" class="vacancy-list col-md-4">
                            <li>{{graduation.graduationDescription}}</li>
                            <li>{{graduation.course}}</li>
                            <li>{{graduation.institute}}</li>
                            <li>{{graduation.timeSpent}}</li>
                        </ul>
                    </label><br />
                    <label class="col-md-4 distance-between" for="inputdefault">Interesses<br />
                        <ul class="vacancy-list col-md-4"  *ngFor="let interest of detail.interests">
                            <li>{{interest.description}}</li>
                        </ul>
                    </label><br />
                    <label class="col-md-4 distance-between" for="inputdefault">Certificados<br />
                        <ul *ngFor="let certification of detail.certifications" class="vacancy-list col-md-4">
                            <li>{{certification.certificationDescription}}</li>
                            <li>{{certification.platform}}</li>
                            <li>{{certification.timeSpent}}</li>
                        </ul>
                    </label><br />
                    <br/>
                    <div class="description distance-pad-content">
                        <label for="inputdefault">Objetivos<br />{{detail.objective}}</label><br />
                    </div>
                    <div class="description">
                        <button type="button" (click)="openMetricsDetails(detail)"  class="btn btn-primary btn-sm space-button">Análise Candidato</button>
                        <button type="button" (click)="sendFeedBackToCandidate(true, detail)" class="btn btn-primary btn-sm space-button">Interesse</button>
                        <button type="button" (click)="sendFeedBackToCandidate(false, detail)" class="btn btn-danger btn-sm space-button">Sem interesse</button>
                    </div>

                </div>

            </div>

           

        </mat-card-content>

        

    </mat-card>

    
    

</div>

<mat-paginator #paginator class="paginator" [length]="100" [pageSize]="10" [pageSizeOptions]="[1, 5, 25, 100]"
        (page)="pageEvent = $event" aria-label="Select page">
</mat-paginator>