<div class="center-content">
    <mat-card class="user-card">

        <mat-card-title class="center-title">Bem vindo(a), Pedro</mat-card-title>

        <mat-card-actions align="end">
            <button type="button" (click)="editUserProfile()" class="btn btn-primary btn-sm space-button">Editar perfil</button>
        </mat-card-actions>

        <mat-card-content class="user-content">
            <div class="container">

                <div class="row">
                    <span class="material-icons col-md-4">account_circle</span>
                    <label class="col-md-4" for="inputdefault">Email:<br />pedro@teste.com</label>
                    <label class="col-md-4" for="inputdefault">CPF:<br />XXX.XXX.XXX-XX</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Idade<br />18 anos</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Contato<br />(11) 984567459</label>
                </div>
            </div>
        </mat-card-content>
        
    </mat-card>
</div>

<div class="center-content">
    <mat-card class="experiences-card">

        <mat-card-title class="center-title">Experiências anteriores</mat-card-title>

        <mat-card-content class="experiences-content">
            <div class="container">

                <div class="row">

                    <mat-list class="col-md-3" role="list">
                        <mat-list-item class="mat-item-color" role="listitem">Descrição: Caixa mercado</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Duração: 12 mes(es)</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Idade 18 anos</mat-list-item>
                    </mat-list>

                    <mat-list class="col-md-3" role="list">
                        <mat-list-item class="mat-item-color" role="listitem">Descrição:Empacotamento</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Duração: 6 mes(es)</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Idade: 20 anos</mat-list-item>
                    </mat-list>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</div>


<div class="center-content">
    <mat-card class="objectives-card">

        <mat-card-title class="center-title">Interesses e Objetivos</mat-card-title>

        <mat-card-content class="objectives-content">
            <div class="container">

                <div class="row">

                    <label class="col-md-6" for="inputdefault">Objetivos:<br />Buscar experiência profissional e
                        crescimento pessoal</label>

                    <mat-list class="col-md-6 list-align" role="list">
                        <div mat-subheader class="mat-item-color">Interesses</div>
                        <mat-list-item class="mat-item-color" role="listitem">Programação</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Matemática</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Física</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Jogos eletrônicos</mat-list-item>
                        <mat-list-item class="mat-item-color" role="listitem">Jogos eletrônicos</mat-list-item>
                    </mat-list>


                </div>
            </div>
        </mat-card-content>

    </mat-card>
</div>


<div class="center-content">
    <mat-card class="skill-card">

        <mat-card-title class="center-title">Suas aptidões  <button type="button" [routerLink]="['candidato', this.userLogged.id, 'teste']" class="btn btn-primary btn-sm space-button">Refazer teste de aptidão</button></mat-card-title>

        

        <mat-card-content class="user-content">
            <div class="container">

                <div class="row col-lg-4 col-md-8 col-sm-8">

                    <app-user-inteligence-result-chart [userResultSkills]="this.userSkillsByIntelligence" [userName]="this.userLogged.userName"></app-user-inteligence-result-chart>

                   
                </div>
            </div>
        </mat-card-content>

       
        

    </mat-card>
</div>

<div>
    <mat-card class="banner-card-vac">

        <mat-card-header class="header-content">
            <mat-card-title class="title-vacancy">
                Vagas para você!
            </mat-card-title>

        </mat-card-header>

    </mat-card>
</div>

<div>
    <mat-card class="vacancies-card" *ngFor="let vacancy of userBestVacancies|async">

        <mat-card-header class="header-content">
            <mat-card-title class="title-vacancy">
                {{vacancy.vacancyTitle}}
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="vacancy-content">

            <div class="container">

                <div class="row">

                    <label class="col-md-4" for="inputdefault">Empresa<br />{{vacancy.id}}</label>
                    <label class="col-md-4" for="inputdefault">Salário<br />{{vacancy.salary}}</label>
                    <label class="col-md-4" for="inputdefault">Quantidade de vagas<br />{{vacancy.quantity}} vaga(s)</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Modalidade<br />{{vacancy.modalidity}}</label>
                    <br />
                    <label class="col-md-4 distance-between" for="inputdefault">Beneficios da vaga<br />
                        <ul class="vacancy-list col-md-8" *ngFor="let benefit of this.vacancy.benefits">
                            <li>Descrição {{benefit}}</li>
                        </ul>
                    </label><br />
                    <label class="col-md-4 distance-between" for="inputdefault">Requisitos da vaga<br />
                        <ul class="vacancy-list col-md-4" *ngFor="let requirement of this.vacancy.requirements">
                            <li>Descrição {{requirement.description}}</li>
                            <li>Diferencial {{requirement.differencial != undefined ? '- ' + requirement.differencial : ''}}</li>
                        </ul>
                    </label><br />
                    <label class="col-md-4" for="inputdefault">Localização<br />{{vacancy.location}}</label><br />
                    <label class="col-md-4" for="inputdefault">Categoria<br />{{vacancy.category}}</label>
                    <div class="description">
                        <label for="inputdefault">Descrição da vaga<br />{{vacancy.description}}</label><br />
                    </div>


                </div>

            </div>


        </mat-card-content>

        <mat-card-actions>
            <button (click)="sendCandidature(vacancy)" type="button" class="btn btn-primary btn-sm space-button">Candidatar a vaga</button>
        </mat-card-actions>


    </mat-card>
</div>

<div>
    <mat-card class="banner-card">

        <mat-card-header class="header-content">
            <mat-card-title class="title-vacancy">
                Cursos para você!
            </mat-card-title>

        </mat-card-header>

    </mat-card>
</div>

<div class="distance-bottom">
    <mat-card class="courses-card"  *ngFor="let course of userBestCourses|async">

        <mat-card-header class="header-content">
            <mat-card-title class="title-vacancy">
                {{course.courseTitle}}
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="courses-content">

            <div class="container">

                <div class="row">

                    <label class="col-md-4" for="inputdefault">Categoria<br />{{course.category}}</label>
                    <label class="col-md-4" for="inputdefault">Relevância para você<br />9 de 10</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Tempo de curso<br /> {{course.durationTime}} hora(s)</label>
                    <br />
                    <label class="col-md-4 distance-between" for="inputdefault">Plataforma<br />{{course.durationTime}}</label>
                    <br />
                    <div class="description">
                        <label for="inputdefault">Descrição do curso<br />{{course.description}}</label><br />
                    </div>


                </div>

            </div>


        </mat-card-content>

        <mat-card-actions>
            <button (click)="goToLink(course.courseLink)" type="button" class="btn btn-primary btn-sm space-button">Visualizar Curso</button>
        </mat-card-actions>


    </mat-card>
</div>


