.center-content {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-title, p, button{
    color: white;
}

.user-card, .experiences-card, .objectives-card{
    background-color: #191645;
    text-align: center;
    height: 300px;
}

.user-content, .experiences-conten, .objectives-content{
    text-align: center;
    margin-top: 5%;
    color: white;
}

.list-align{
  margin-top: -10px;
}

.mat-item-color{
  color: white;
}

.center-title{
    text-align: center;
}

.start-button{
    color: black;
    width: 100%;
}


.vacancies-card{
    margin-top: 60px;
    display: flex;
    height: 280px;
    background-color: #191645;
    right: 0;
    color: white;
  }

.courses-card{
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    height: 280px;
    background-color: #191645;
    color: white;
}

.banner-card{
  margin-top: 40px;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #191645;
  color: white;
}
  
  .vacancy-content, .courses-content{
    margin-top: 60px;
    margin-right: 0px;
    display: flex;
    width: 100%;
    padding-right: 0px;
    right: 0;
    overflow:auto;
  }

  .distance-bottom{
    padding-bottom: 100px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .d-inline-flex{
    font-size: 20px;
    color: yellow;
  }
  
  .vacancy-list{
    padding-left: 0px;
    width: 100%;
  }
  
  .rate{
    font-size: 30px;
  }
  
  .title-vacancy{
    width: 250px;
  }
  
  .description{
    padding-top: 20px;
    width: 100%;
    margin-bottom: 10%;
  }
  .space-button{
    margin-left: 20px;
  }
  .desc-course{
    max-width: 300px;
    overflow-wrap: break-word;
  }
  
  .form-control{
    width: 100%;
  }
  
  .apply-btn{
    margin-top: 10px;
    width: 100%;
  }
  
  .add-vacancy-card{
    width: 70%;
    background-color: #191645;
    border-radius: 0;
  }
  .add-title{
    font-size: 15px;
    color: white;
    width: 100%;
  }
  
  .title-vacancy{
    width: 100%;
  }
  
  .material-icons{
    color: white;
  }
  .paginator{
    margin-bottom: -3%;
  }
  .distance-between{
    padding-top: 20px;
  }
  
  @media (max-width: 750px) {
  
    .container{
      margin-left: 30%;
    }
     
  }
  
  
  @media (max-width: 625px) {
  
    
  
    .form-control, .label-filter, .apply-btn, .select-filters{
      width: 70%;
    }
  
    
    
  }
  
  
  @media (max-width: 510px) {
  
   .header-content{
    width: 200px;
   }
  
   .form-control, .label-filter, .apply-btn, .select-filters{
    width: 70%;
  }
  
  .title-vacancy{
    font-size: 12px;
  }
  
  .filter-card{
    height: 160vh;
    padding-left: 0px;
    margin-right: -40px;
    width: 130px;
  }
  .space-button{
    margin-left: 0;
  }
  
  .paginator{
    margin-bottom: -30%;
  }
    
  }
  