<div class="center-content">
    <mat-card class="start-card">

        <mat-card-title class="center-title">Bem vindo(a), Pedro</mat-card-title>

        <mat-card-content class="start-content">
            <div class="container">

                <div class="row">
                    <span class="material-icons col-md-4">account_circle</span>
                    <label class="col-md-4" for="inputdefault">Email:<br />pedro@teste.com</label>
                    <label class="col-md-4" for="inputdefault">CPF:<br />XXX.XXX.XXX-XX</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Idade<br />18 anos</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Contato<br />(11) 984567459</label>
                    <div class="description">
                        <button type="button" [routerLink]="" class="btn btn-primary btn-sm space-button">Editar perfil</button>
                    </div>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</div>

<div class="center-content">
    <mat-card class="start-card">

        <mat-card-title class="center-title">Experiências anteriores</mat-card-title>

        <mat-card-content class="start-content">
            <div class="container">

                <div class="row">

                    <mat-list role="list">
                        <mat-list-item role="listitem">Descrição:<br />Caixa mercado</mat-list-item>
                        <mat-list-item role="listitem">Tempo de atuação:<br />12 mes(es)</mat-list-item>
                        <mat-list-item role="listitem">Idade<br />18 anos</mat-list-item>
                    </mat-list>

                    <mat-list role="list">
                        <mat-list-item role="listitem">Descrição:<br />Empacotamento</mat-list-item>
                        <mat-list-item role="listitem">Tempo de atuação:<br />6 mes(es)</mat-list-item>
                        <mat-list-item role="listitem">Idade<br />20 anos</mat-list-item>
                    </mat-list>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</div>


<div class="center-content">
    <mat-card class="start-card">

        <mat-card-title class="center-title">Interesses e Objetivos</mat-card-title>

        <mat-card-content class="start-content">
            <div class="container">

                <div class="row">

                    <label class="col-md-4" for="inputdefault">Objetivos:<br />Buscar experiência profissional e crescimento pessoal</label>

                    <mat-list role="list">
                        <mat-list-item role="listitem">Programação</mat-list-item>
                        <mat-list-item role="listitem">Matemática</mat-list-item>
                        <mat-list-item role="listitem">Física</mat-list-item>
                        <mat-list-item role="listitem">Jogos eletrônicos</mat-list-item>
                    </mat-list>

                    
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</div>


<div>
<mat-card class="vacancies-card">

    <mat-card-header class="header-content">
        <mat-card-title class="title-vacancy">
            Vagas pra você
        </mat-card-title>

    </mat-card-header>

    <mat-card-content class="vacancy-content">

        <div class="container">

            <div class="row">

                <span class="material-icons col-md-4">account_circle</span>
                <label class="col-md-4" for="inputdefault">Empresa<br />X</label>
                <label class="col-md-4" for="inputdefault">Salário<br />A combinar</label>
                <label class="col-md-4" for="inputdefault">Quantidade de vagas<br />2 vaga(s)</label>
                <label class="col-md-4 distance-between" for="inputdefault">Modalidade<br />Remoto</label>
                <br />
                <label class="col-md-4 distance-between" for="inputdefault">Beneficios da vaga<br />
                    <ul class="vacancy-list col-md-8">
                        <li>Convenio Médico</li>
                        <li>Convenio Odontológico</li>
                        <li>Gym Pass</li>
                    </ul>
                </label><br />
                <label class="col-md-4 distance-between" for="inputdefault">Requisitos da vaga<br />
                    <ul class="vacancy-list col-md-4">
                        <li>Interesse e comprometimento</li>
                        <li>Raciocinio Lógico</li>
                    </ul>
                </label><br />
                <label class="col-md-4" for="inputdefault">Localização<br />São Paulo Centro</label><br />
                <label class="col-md-4" for="inputdefault">Categoria<br />Tecnologia</label>
                <div class="description">
                    <label for="inputdefault">Descrição da vaga<br />Buscamos um estagiário com interesse e comprometimento e que esteja aberto a enfrentar novos desafios</label><br />
                </div>
               

            </div>

        </div>


    </mat-card-content>




</mat-card>
</div>


<div>
    <mat-card class="vacancies-card">
    
        <mat-card-header class="header-content">
            <mat-card-title class="title-vacancy">
                Cursos pra você
            </mat-card-title>
    
        </mat-card-header>
    
        <mat-card-content class="vacancy-content">
    
            <div class="container">
    
                <div class="row">
    
                    <label class="col-md-4" for="inputdefault">Titulo<br />Introdução ao Java</label>
                    <label class="col-md-4" for="inputdefault">Categoria<br />Tecnologia</label>
                    <label class="col-md-4" for="inputdefault">Relevância para você<br />9 de 10</label>
                    <label class="col-md-4 distance-between" for="inputdefault">Tempo de curso<br /> 20 horas</label>
                    <br />
                    <label class="col-md-4 distance-between" for="inputdefault">Plataforma<br />Udemy cursos</label>
                    <br />
                    <label class="col-md-4" for="inputdefault">Dificuldade<br />Iniciante</label><br />
                    <div class="description">
                        <label for="inputdefault">Descrição do curso<br />Aprenda java do básico ao avançado</label><br />
                    </div>
                   
    
                </div>
    
            </div>
    
    
        </mat-card-content>
    
    
    
    
    </mat-card>
    </div>


    <div class="center-content">
        <mat-card class="start-card">
    
            <mat-card-title class="center-title">Suas aptidões</mat-card-title>
    
            <mat-card-content class="start-content">
                <div class="container">
    
                    <div class="row">

                        <app-user-inteligence-result-chart class="col-lg-4 col-md-6"></app-user-inteligence-result-chart>
                       
                    </div>
                </div>
            </mat-card-content>
    
        </mat-card>
    </div>