.container {
    margin-top: 5%;
}

.placeholder-color {
    color: white !important;

}

.btn{
  background-color: #3c6e71;
  border-color: #3c6e71;
  color: white
}

mat-option {
    background-color: grey;
}

.btn-validate {
    height: 30px;
    margin-top: 5px;
  }
