.example-spacer {
  flex: 1 1 auto;
}

.example-spacer-menu {
  flex: 1 1 auto;
}

.example-spacer-menu-footer {
  flex: 0.9 0.9 auto;
}

.example-spacer-menu-items {
  flex: 0.5 0.5 auto;
}

a{
  font-size: medium;
}

.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  background-color: #191645;
}

.btn{
  background-color: #3c6e71;
  border-color: #3c6e71;
  color: white
}

.toolbar {
  background-color: #191645;
}

.menu-icon-mobile {
  display: none;
}

.btnPop{

  border-width: 0;
  background-color: white;

}

.menu-icon,
.footer-icon,
.name-icon,
.side-icon {
  color: white;
}

.footer-icon{
  margin-right: 2vw;
  font-size: 15px;
}
.text-menu {
  padding-top: 10px;
  margin-top: 10px;
  margin-left: -2.25vw;
  position: fixed;
  font-size: small;
  color: white;
}

.text-menu-fix {
  padding-top: 10px;
  margin-top: 10px;
  margin-left: -33px;
  position: fixed;
  font-size: 7px;
  color: white;
}




@media (max-width:500px) {

  .example-spacer-menu,
  .example-spacer-menu-footer,
  .example-spacer-menu-footer {
    flex: 0 0 auto;
    display: none;
  }

  .menu-icon,
  .footer-icon {
    display: none;

  }

  .example-spacer {
    flex: 0 0 auto;
  }

  .example-spacer-menu-items {
    flex: 0.3 0.3 auto;
  }

  .example-spacer-menu-items-fix {
    flex: 0.3 0.3 auto;
  }

  .menu-icon-mobile {
    display: block;
    color: white;

  }

  .toolbar {
    width: 120%;
  }


}
