
.example-spacer {
  flex: 1 1 auto;
}

.example-spacer-menu {
  flex: 1 1 auto;
}

.example-spacer-menu-footer {
  flex: 0.9 0.9 auto;
}

.example-spacer-menu-items {
  flex: 0.5 0.5 auto;
}

a{
  font-size: medium;
}

.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  background-color: #191645;
}

.btn{
  background-color: #3c6e71;
  border-color: #3c6e71;
  color: white
}


.toolbar {
  background-color: #191645;
}

.menu-icon-mobile {
  display: none;
}

.btnPop{

  border-width: 0;
  background-color: white;

}

.menu-icon,
.footer-icon,
.name-icon,
.side-icon,
.text-menu {
  color: white;
}

.footer-icon{
  margin-right: 2vw;
  font-size: 15px;
}
.text-menu{
  padding-top: 10px;
  margin-top: 10px;
  margin-left: -2.25vw;
  position: fixed;
  font-size: small;
}

.text-menu-skill{
  padding-top: 10px;
  margin-top: 10px;
  position: fixed;
  font-size: small;
  margin-left:-6vw;
  color: white;
}

.text-menu-fix {
  padding-top: 10px;
  margin-top: 10px;
  margin-left: -3.5vw;
  position: fixed;
  font-size: 7px;
  color: white;
}
@media (max-width: 1400px){
  .text-menu{
    margin-left: -2vw;
  }
  .text-menu-skill{
    margin-left: -4vw;
  }
}
@media (max-width: 1300px){
  .text-menu{
    margin-left: -2.25vw;
  }
  .text-menu-skill{
    margin-left: -5vw;
  }
}
@media (max-width: 1200px){
  .text-menu{
    margin-left: -2.25vw;
  }
  .text-menu-skill{
    margin-left: -5vw;
  }
}
@media (max-width: 1100px){
  .text-menu{
    margin-left: -3vw;

  }
  .text-menu-skill{
    margin-left: -6vw;
  }
}
@media (max-width: 1000px){
  .text-menu{
    margin-left: -3vw;
  }
  .text-menu-skill{
    margin-left: -6vw;
  }
}
@media (max-width: 950px){
  .text-menu{
    margin-left: -3.5vw;
  }
  .text-menu-skill{
    margin-left: -6vw;
  }
}

@media (max-width: 900px){
  .text-menu{
    margin-left: -3.7vw;
  }
}
@media (max-width: 850px){
  .text-menu{
    margin-left: -3.7vw;
  }
}
@media (max-width: 800px){
  .text-menu{
    margin-left: -3.75vw;
  }
  .text-menu-skill{
    margin-left: -6vw;
  }
}

@media (max-width: 775px){
  .text-menu{
    margin-left: -3.8vw;
  }
  .text-menu-skill{
    margin-left: -6vw;
  }
}
@media (max-width: 750px){
  .text-menu{
    margin-left: -3.75vw;
  }
  .text-menu-skill{
    margin-left: -6vw;
  }
}

@media (max-width: 700px){
  .text-menu{
    margin-left: -4vw;
  }
  .text-menu-skill{
    margin-left: -8vw;
  }
}

@media (max-width: 650px){
  .text-menu{
    margin-left: -4.5vw;
  }
}

@media (max-width: 600px){
  .text-menu{
    margin-left: -5vw;
  }
  .text-menu-skill{
    margin-left: -8vw;
  }
}



@media (max-width:500px) {

  .example-spacer-menu,
  .example-spacer-menu-footer,
  .example-spacer-menu-footer {
    flex: 0 0 auto;
    display: none;
  }

  .menu-icon,
  .footer-icon {
    display: none;

  }

  .example-spacer {
    flex: 0 0 auto;
  }

  .example-spacer-menu-items {
    flex: 0.3 0.3 auto;
  }

  .example-spacer-menu-items-fix {
    flex: 0.3 0.3 auto;
  }

  .menu-icon-mobile {
    display: block;
    color: white;

  }

  .toolbar {
    width: 120%;
  }

}

