<div>
    <mat-card class="add-vacancy-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title class="add-title"><a>Mapeie suas aptidões através do teste</a></mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
<div>
    <mat-card class="filter-card">


        <mat-card-header>
            <mat-card-title>Perguntas</mat-card-title>
        </mat-card-header>



        <mat-card-content class="filter-content">

            <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="firstRow">
                    <th mat-header-cell *matHeaderCellDef class="column"> firstRow </th>
                    <td class="test" mat-cell *matCellDef="let element">
                        <input type="radio" class="btn-check" name="btnradio" id="firstRow" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">{{element.firstRow}}</label>
                    </td>
                </ng-container>
                <ng-container matColumnDef="secondRow">
                    <th mat-header-cell *matHeaderCellDef class="column"> secondRow </th>
                    <td mat-cell *matCellDef="let element">
                        <input type="radio" class="btn-check" name="btnradio" id="secondRow" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">{{element.secondRow}}</label>
                    </td>
                </ng-container>
                <ng-container matColumnDef="thirdRow">
                    <th mat-header-cell *matHeaderCellDef class="column"> thirdRow </th>
                    <td mat-cell *matCellDef="let element">
                        <input type="radio" class="btn-check" name="btnradio" id="thirdRow" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">{{element.thirdRow}}</label>
                    </td>
                </ng-container>
                <ng-container matColumnDef="forthRow">
                    <th mat-header-cell *matHeaderCellDef class="column"> forthRow </th>
                    <td mat-cell *matCellDef="let element">
                        <input type="radio" class="btn-check" name="btnradio" id="forthRow" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">{{element.forthRow}}</label>
                    </td>
                </ng-container>
                <ng-container matColumnDef="fifthRow" class="test">
                    <th mat-header-cell *matHeaderCellDef class="column"> fifthRow </th>
                    <td mat-cell *matCellDef="let element">
                        <input type="radio" class="btn-check" name="btnradio" id="fifthRow" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">{{element.fifthRow}}</label>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="yy" style="height: 5px !important;"></tr>
            </table> -->


        </mat-card-content>



    </mat-card>
</div>

<div>
    <mat-card class="vacancies-card">

        <mat-card-header class="header-content">
            <mat-card-title class="title-vacancy">
                Pergunta 1
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="vacancy-content">

            <div class="container">

                <div class="row">

                    <h1>Opções</h1>

                    <section>
                        <mat-checkbox>
                            A) Alternativa A
                        </mat-checkbox>
                    </section>
                    <br />
                    <section>
                        <mat-checkbox>
                            B) Alternativa B
                        </mat-checkbox>
                    </section>
                    <br />
                    <section>
                        <mat-checkbox>
                            C) Alternativa C
                        </mat-checkbox>
                    </section>
                    <br />
                    <section>
                        <mat-checkbox>
                            D) Alternativa D
                        </mat-checkbox>
                    </section>
                    <br />
                    <section>
                        <mat-checkbox>
                            E) Alternativa E
                        </mat-checkbox>
                    </section>
                    <br />
                    <section>
                        <mat-checkbox>
                            F) Alternativa F
                        </mat-checkbox>
                    </section>
                    <br />
                    <section>
                        <mat-checkbox>
                            G) Alternativa G
                        </mat-checkbox>
                    </section>
                    <br />
                    <section>
                        <mat-checkbox>
                            H) Alternativa H
                        </mat-checkbox>
                    </section>


                </div>

            </div>


        </mat-card-content>




    </mat-card>


</div>