<div>
    <mat-card class="add-vacancy-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title class="add-title"><a>Mapeie suas aptidões através do teste</a></mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
<div>
    <mat-card class="filter-card">


        <mat-card-header>
            <mat-card-title>Perguntas</mat-card-title>
        </mat-card-header>



        <mat-card-content class="filter-content">

            <mat-grid-list cols="5" rowHeight="{{this.heigthProp}}" class="tile-background"
                (window:resize)="handleSize($event)">
                <div *ngFor="let element of data">
                    <mat-grid-tile class="label-numbers">
                        <label id="{{'item' + element.firstRow}}" class="btn btn-outline-primary label-numbers"
                            for="btnradio1" (click)="scrollToElement(element.firstRow)">{{element.firstRow}}</label>
                    </mat-grid-tile>
                    <mat-grid-tile class="label-numbers">
                        <label id="{{'item' + element.secondRow}}" class="btn btn-outline-primary label-numbers"
                            for="btnradio2" (click)="scrollToElement(element.secondRow)">{{element.secondRow}}</label>
                    </mat-grid-tile>
                    <mat-grid-tile class="label-numbers">
                        <label id="{{'item' + element.thirdRow}}" class="btn btn-outline-primary label-numbers"
                            for="btnradio3" (click)="scrollToElement(element.thirdRow)">{{element.thirdRow}}</label>
                    </mat-grid-tile>
                    <mat-grid-tile class="label-numbers">
                        <label id="{{'item' + element.forthRow}}" class="btn btn-outline-primary label-numbers"
                            for="btnradio4" (click)="scrollToElement(element.forthRow)">{{element.forthRow}}</label>
                    </mat-grid-tile>
                    <mat-grid-tile class="label-numbers">
                        <label id="{{'item' + element.fifthRow}}" class="btn btn-outline-primary label-numbers"
                            for="btnradio5" (click)="scrollToElement(element.fifthRow)">{{element.fifthRow}}</label>
                    </mat-grid-tile>
                </div>
            </mat-grid-list>


        </mat-card-content>



    </mat-card>
</div>

<div>
    <mat-card class="vacancies-card">

        <mat-card-header class="header-content">
            <mat-card-title id="{{'question' + 1}}" class="title-vacancy">
                Pergunta 1
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="vacancy-content">

            <div class="container">

                <div class="row">

                    <h1>Opções</h1>

                    <mat-radio-group>
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(1, 'A')" value="1">
                                A) Alternativa A
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(1, 'B')" value="2">
                                B) Alternativa B
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(1, 'C')" value="3">
                                C) Alternativa C
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(1, 'D')" value="4">
                                D) Alternativa D
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(1, 'E')" value="5">
                                E) Alternativa E
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(1, 'F')" value="6">
                                F) Alternativa F
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(1, 'G')" value="7">
                                G) Alternativa G
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(1, 'H')" value="8"> 
                                H) Alternativa H
                            </mat-radio-button>
                        </section>
                    </mat-radio-group>

                </div>

            </div>


        </mat-card-content>




    </mat-card>


</div>