<div>
    <mat-card class="add-vacancy-card">

        <mat-card-header class="title-vacancy">
            <mat-card-title class="add-title"><a>Mapeie suas aptidões através do teste</a></mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
<div>
    <mat-card class="filter-card">


        <mat-card-header>
            <mat-card-title>Perguntas</mat-card-title>
        </mat-card-header>



        <mat-card-content class="filter-content">

            <mat-grid-list cols="{{this.numberOfColumns}}" rowHeight="{{this.heigthProp}}" class="tile-background"
                (window:resize)="handleSize($event)">
                <div *ngFor="let element of data">
                    <mat-grid-tile class="label-numbers">
                        <label id="{{'item' + element.firstRow}}" class="btn btn-outline-primary label-numbers"
                            for="btnradio1" (click)="scrollToElement(element.firstRow)">{{element.firstRow}}</label>
                    </mat-grid-tile>
                    <mat-grid-tile class="label-numbers">
                        <label id="{{'item' + element.secondRow}}" class="btn btn-outline-primary label-numbers"
                            for="btnradio2" (click)="scrollToElement(element.secondRow)">{{element.secondRow}}</label>
                    </mat-grid-tile>
                    <mat-grid-tile class="label-numbers">
                        <label id="{{'item' + element.thirdRow}}" class="btn btn-outline-primary label-numbers"
                            for="btnradio3" (click)="scrollToElement(element.thirdRow)">{{element.thirdRow}}</label>
                    </mat-grid-tile>
                    <mat-grid-tile class="label-numbers">
                        <label id="{{'item' + element.forthRow}}" class="btn btn-outline-primary label-numbers"
                            for="btnradio4" (click)="scrollToElement(element.forthRow)">{{element.forthRow}}</label>
                    </mat-grid-tile>
                    <mat-grid-tile class="label-numbers">
                        <label id="{{'item' + element.fifthRow}}" class="btn btn-outline-primary label-numbers"
                            for="btnradio5" (click)="scrollToElement(element.fifthRow)">{{element.fifthRow}}</label>
                    </mat-grid-tile>
                </div>
            </mat-grid-list>


        </mat-card-content>



    </mat-card>
</div>

<div>
    <mat-card class="vacancies-card" *ngFor="let question of this.testQuestions|async; let questionPos = index">

        <mat-card-header class="header-content">
            <mat-card-title id="{{'question' + question.id}}" class="title-vacancy">
                {{question.questionDescription}}
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="vacancy-content">

            <div class="container">

                <div class="row">

                    <h1>Opções</h1>

                    <mat-radio-group>
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(questionPos,question.id, 'A')" value="A">
                                A) {{question.answerA}}
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(questionPos,question.id, 'B')" value="2">
                                B) {{question.answerB}}
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(questionPos,question.id, 'C')" value="3">
                                C) {{question.answerC}}
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(questionPos,question.id, 'D')" value="4">
                                D) {{question.answerD}}
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(questionPos,question.id, 'E')" value="5">
                                E) {{question.answerE}}
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(questionPos,question.id, 'F')" value="6">
                                F) {{question.answerF}}
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(questionPos,question.id, 'G')" value="7">
                                G) {{question.answerG}}
                            </mat-radio-button>
                        </section>
                        <br />
                        <section>
                            <mat-radio-button (click)="setSelectedQuestion(questionPos,question.id, 'H')" value="8"> 
                                H) {{question.answerH}}
                            </mat-radio-button>
                        </section>
                    </mat-radio-group>

                </div>

            </div>


        </mat-card-content>




    </mat-card>


</div>

<button (click)="confirmSendSkillTest()" mat-raised-button class="start-button">Enviar teste</button>