<h2 mat-dialog-title>Informações da relação Candidato X Vaga</h2>
<mat-dialog-content class="mat-typography">


    <div class="container">

        <div class="row">

            <label class="col-md-4" for="inputdefault">Aptidão do candidato para a vaga</label>
            <label class="col-md-4" for="inputdefault">Aptidões do candidato</label>
            <label class="col-md-4" for="inputdefault">Aptidões da vaga</label>
            <app-user-vacancy-list-chart [user]="data.aptidao" class="col-md-4"></app-user-vacancy-list-chart>
            <app-user-inteligence-details-chart [userIntelligenceVacancyRecommendations]="data.testeIM" [userName]="data.usuario" class="col-md-4"></app-user-inteligence-details-chart>
            <app-user-inteligence-list-chart [userIntelligenceVacancyRecommendations]="data.testeVaga" class="col-md-4"></app-user-inteligence-list-chart>

        </div>

    </div>



</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
