<div class="container">
    <form [formGroup]="formUserInterest">

        <div class="row">
            <mat-label>Descrição do interesse</mat-label>
            <br />
            <textarea id="vacancyDescription" class="text-area-form" required></textarea>
            <!-- <div
                *ngIf="formUserData.get('userEmail')?.invalid && (formUserData.get('userEmail')?.dirty || formUserData.get('userEmail')?.touched)">
                <p *ngIf="formUserData.get('userEmail')?.errors?.['required']">
                    Nome Completo é necessário.
                </p>
            </div> -->
           

        </div>
    </form>
</div>
