<div class="container">
    <form [formGroup]="formUserInterest">

        <div class="row">
            <mat-label>Descrição do interesse</mat-label>
            <br />
            <textarea id="vacancyDescription" class="text-area-form" required></textarea>
            <div
                *ngIf="formUserInterest.get('description')?.invalid && (formUserInterest.get('description')?.dirty || formUserInterest.get('description')?.touched)">
                <p *ngIf="formUserInterest.get('description')?.errors?.['required']">
                    Interesse é necessário.
                </p>
            </div>
           

        </div>
    </form>
</div>
