<div class="center-content">

    <div class="column">

        <mat-tab-group class="tab-content" mat-align-tabs="center">
            <mat-tab class="label-color" label="Dados cadastrais">
                <app-users-data (sendUserEvent)="bindUserData($event)" class="label-color"></app-users-data>
            </mat-tab>
            <mat-tab *ngIf="this.isCandidate" class="label-color" label="Detalhes do candidato">
                <app-users-details (sendDetailsEvent)="bindUserDetails($event)" class="label-color"></app-users-details>
            </mat-tab>
            <mat-tab *ngIf="this.isCandidate" class="label-color" label="Interesses do candidato">
                <app-users-interests (sendInterestEvent)="bindUserInterests($event)" class="label-color">
                </app-users-interests>
            </mat-tab>

        </mat-tab-group>


        <button *ngIf="!this.userId" (click)="confirmPostUser()" type="button" class="btn btn-outline-primary btnSend">
            Enviar dados
        </button>

        <button *ngIf="this.userId" (click)="confirmEditUser()" type="button" class="btn btn-outline-primary btnSend">
            Editar dados
        </button>

        
    </div>

</div>