<div class="center-content">


    <mat-tab-group class="tab-content" mat-align-tabs="center">
        <mat-tab class="label-color" label="Dados cadastrais">
            <app-users-data [user]="this.user" [address]="this.address" class="label-color"></app-users-data>
        </mat-tab>
        <mat-tab class="label-color" label="Detalhes do candidato">
            <app-users-details [user]="this.user" [experience]="this.experience" [graduation]="this.graduation" [certification]="this.certification" class="label-color"></app-users-details>
        </mat-tab>
        <mat-tab class="label-color" label="Interesses do candidato">
            <app-users-interests [interest]="this.interest" class="label-color"></app-users-interests>
        </mat-tab>
    </mat-tab-group>
    
</div>