<div class="center-content">


    <mat-tab-group class="tab-content" mat-align-tabs="center">
        <mat-tab class="label-color" label="Dados cadastrais">
            <app-users-data class="label-color"></app-users-data>
        </mat-tab>
        <mat-tab class="label-color" label="Detalhes do candidato">
            <app-users-details class="label-color"></app-users-details>
        </mat-tab>
        <mat-tab class="label-color" label="Interesses do candidato">
            <app-users-interests class="label-color"></app-users-interests>
        </mat-tab>
    </mat-tab-group>
    
</div>