.courses-card{
    width: 50%;
    margin-top: 30px;
    margin-left: 10%;
    display: flex;
    height: 350px;
    background-color: #191645;
}

.filter-card{
    float: right;
    width: 30%;
    height: 100vh;
    border-bottom: 10px;
    border-color: black;
    position: relative;
    display: flex;
    background-color: #888888;
   
}