<div>
    <mat-card class="add-course-card">

        <mat-card-header class="title-course">
            <span class="material-icons">add_circle_outline</span>
            <mat-card-title class="add-title"><a>Crie cursos de capacitação para sua empresa</a></mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
<div>
    <mat-card class="filter-card">


        <mat-card-header>
            <mat-card-title>Filtro</mat-card-title>
        </mat-card-header>



        <mat-card-content class="filter-content">

            <form class="example-form">

                <div class="form-group">
                    <label class="label-filter">Porcentagem para aprovação</label>
                    <input id="approvalPercentual" class="form-control" type="number" />
                </div>


                <label class="label-filter" for="typeahead-basic">Categoria:</label>
                <div class="col select-filters">
                    <div ngbDropdown class="d-inline-block select-filters">
                        <button type="button" class="btn btn-outline-primary" id="dropdownCategory"
                            ngbDropdownToggle>{{this.filters.courseCategory == undefined ? 'Categoria': this.filters.courseCategory}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownCategory">
                            <button *ngFor="let category of categories" (click)="changeCategoryFilter(category)"
                                ngbDropdownItem>{{category}}</button>
                        </div>
                    </div>
                </div>

                <label class="label-filter" for="typeahead-basic">Possui vinculo a vagas:</label>
                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input (click)="changeLinkedVacancies(true)" type="radio" class="btn-check" name="btnradio"
                        id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Sim</label>

                    <input (click)="changeLinkedVacancies(false)" type="radio" class="btn-check" name="btnradio"
                        id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Não</label>

                </div>
                <br />

                <div class="form-group">

                    <label class="label-filter">Quantidade de inscrições:</label>
                    <br />
                    <input id="subscribeQuantity" class="form-control" type="number" class="form-control" />
                </div>
                
                <br />

                <label class="label-filter" for="typeahead-basic">Possui certificado?:</label>
                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input (click)="changeShowCertification()" type="radio" class="btn-check" name="btnradiocert"
                        id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Sim</label>

                    <input (click)="changeHideCertification()" type="radio" class="btn-check" name="btnradiocert"
                        id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Não</label>

                </div>
                <br />
                <div *ngIf="this.showCertificationTitle" class="form-group">
                    <label class="label-filter">Titulo:</label>
                    <input id="certificationTitle" type="text"
                        class="form-control" />
                </div>
                <br />
                <label class="label-filter" for="typeahead-basic">Possui prova avaliativa?:</label>
                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input (click)="changeShowTest()" type="radio" class="btn-check" name="btnradioprova"
                        id="btnradioprova" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradioprova">Sim</label>

                    <input (click)="changeHideTest()" type="radio" class="btn-check" name="btnradioprova"
                        id="btnradioprova2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradioprova2">Não</label>

                </div>
                <br />
                <div *ngIf="this.showTestTitle" class="form-group">
                    <label class="label-filter">Titulo:</label>
                    <input type="text" id="testTitle" class="form-control" />
                </div>
                <br />
                <label class="label-filter">Quantidade de questões:</label>
                <br />
                <input [(ngModel)]="this.filters.questionsQuantity" type="number" class="form-control" />
                <br />
                <label class="label-filter">Dificuldade da prova</label>
                <br />
                <ngb-rating (rateChange)="difficultyTestRateChange($event)" [max]="5"></ngb-rating>
                <br />
                <br />
                <label class="label-filter">Duração da prova (Horas)</label>
                <br />
                <mat-slider (change)="testDuration($event)" thumbLabel tickInterval="1" step="1" min="0" max="1000"
                    aria-label="Horas"></mat-slider>
                <button (click)="applyFiltersCourses()" type="button" class="btn btn-primary apply-btn">Aplicar</button>

            </form>

        </mat-card-content>



    </mat-card>
</div>

<div>
    <mat-card class="courses-card"
        *ngFor="let course of courses |async |slice:((paginator.pageIndex)*paginator.pageSize):((paginator.pageIndex+1)*paginator.pageSize)">

        <mat-card-header class="header-content">
            <mat-card-title class="title-course">
                {{course.courseTitle}}
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="course-content">

            <div class="container">

                <div class="row">

                    <span class="material-icons col-md-4">account_circle</span>
                    <label class="col-md-4" for="inputdefault">Duração <br />{{ course.durationTime }}</label>
                    <label class="col-md-4" for="inputdefault">Criação<br />{{ course.creationDate }}</label><br />
                    <label class="col-md-4" for="inputdefault">Inscrições<br />{{ course.subscribeQuantity
                        }}</label><br />
                    <label class="col-md-4" for="inputdefault">Sessões<br />
                        <ul class="session-list">
                            <li>{{ course.subscribeQuantity }} sessões</li>
                        </ul>
                    </label><br />
                    <label class="col-md-4" for="inputdefault">Possui Certificação?<br />{{ course.certificationId !=
                        undefined ? 'Sim': 'Não'}}</label>
                    <label class="col-md-4" for="inputdefault">Possui Prova?<br /> {{ course.test?.id != undefined
                        ? 'Sim': 'Não'}}</label><br />
                    <label class="col-md-4" for="inputdefault">Dificuldade da prova<br /> {{ course.test?.difficulty
                        }}</label><br />
                    <label class="col-md-4" for="inputdefault">Quantidade de questões<br /> {{
                        course.test?.questionsQuantity }}</label>
                    <label class="col-md-4" for="inputdefault">Percentual de aprovação<br /> {{
                        course.test?.approvalPercentual }}</label>
                    <div class="description">
                        <label class="col-md-4" for="inputdefault">Descrição<br /></label><br />
                        <label class="desc-course col-md-4">{{ course.description }}</label>

                    </div>

                    <div class="description">
                        <button type="button" [routerLink]="['empresa','curso', course.id]" class="btn btn-primary btn-sm">Editar</button>
                        <button type="button" (click)="deleteCourse(course.id)" class="btn btn-danger btn-sm space-button">Excluir</button>
                    </div>


                </div>


            </div>




        </mat-card-content>




    </mat-card>




    <mat-paginator #paginator class="paginator" [length]="100" [pageSize]="10" [pageSizeOptions]="[1, 5, 25, 100]"
        (page)="pageEvent = $event" aria-label="Select page">
    </mat-paginator>

</div>