<div class="center-content">
    <mat-card class="start-card">

        <mat-card-title class="center-title">Entrar como {{this.userRole}}</mat-card-title>

        <mat-card-content class="start-content">
            <div class="container">
                <form [formGroup]="formLogin">
                    <div class="column">
                        <img class="image"
                            src="{{ this.isCandidate ? 'https://cdn-icons-png.flaticon.com/512/4412/4412797.png' : 'https://cdn-icons-png.flaticon.com/512/2660/2660513.png'}}" />
                        <br />
                        <mat-label *ngIf="isCandidate" class="placeholder-color">CPF</mat-label>
                        <br />
                        <mat-form-field *ngIf="isCandidate" class="input">
                            <input mask="000.000.000-00" id="userEmail" class="form-control" [(ngModel)]="this.cpf"
                                formControlName="userEmail" type="text" matInput autocomplete="off" placeholder="CPF"
                                required />
                        </mat-form-field>
                        <div
                            *ngIf="formLogin.get('cpf')?.invalid && (formLogin.get('cpf')?.dirty || formLogin.get('cpf')?.touched)">
                            <p *ngIf="formLogin.get('cpf')?.errors?.['required']">
                                CPF é necessário.
                            </p>
                        </div>
                        <br />
                        <mat-label *ngIf="!isCandidate" class="placeholder-color">CNPJ</mat-label>
                        <br />
                        <mat-form-field *ngIf="!isCandidate" class="input">
                            <input mask="00.000.000/0000-00" id="userEmail" class="form-control" [(ngModel)]="this.cnpj"
                                formControlName="userEmail" type="text" matInput autocomplete="off" placeholder="CNPJ"
                                required />
                        </mat-form-field>
                        <div
                            *ngIf="formLogin.get('cnpj')?.invalid && (formLogin.get('cnpj')?.dirty || formLogin.get('cnpj')?.touched)">
                            <p *ngIf="formLogin.get('cnpj')?.errors?.['required']">
                                CNPJ é necessário.
                            </p>
                        </div>
                        <br />
                        <mat-label class="placeholder-color">Senha</mat-label>
                        <br />
                        <mat-form-field class="input">

                            <input id="userPassword" class="form-control" [(ngModel)]="this.passWord"
                                formControlName="userPassword" [type]="hide ? 'password' : 'text'" matInput autocomplete="off"
                                required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>

                        </mat-form-field>
                        <div
                            *ngIf="formLogin.get('userPassword')?.invalid && (formLogin.get('userPassword')?.dirty || formLogin.get('userPassword')?.touched)">
                            <p *ngIf="formLogin.get('userPassword')?.errors?.['required']">
                                Senha é necessária.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button (click)="onLogin()" mat-raised-button class="start-button">Entrar</button>
        </mat-card-actions>
    </mat-card>
</div>