.center-content {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-title, p, button{
    color: white;
}

.start-card{
    background-color: #191645;
    text-align: center;
    width: 40%;
    height: 100%;
    margin-top: 10px;
}

.start-content{
    text-align: center;
}

.center-title{
    text-align: center;
}

.start-button{
    color: white;
    width: 70%;
    height: 60px;
    border-radius: 10px;
}

.input{
    width: 60%;
    text-align: center;
}

.image{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

input{
    background-color: white;
    color: black;
}

.placeholder-color{
    color: white;
}

.form-control{
    height: 30px;
    border-radius: 10px;
}

.icon{
    height: 20px;
}
