
.carousel-caption{
  color: black;
}

.picsum-img-wrapper{
  color: black;
}

mat-card-title, .company-icon{
  color: white;
}

.example-card {
    background-color: #191645;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    
  }

  .star-icon{
    color: yellow;

  }

  .center-icons{
    align-content: center;
    text-align: center;
  }

  .home-content {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.description-content{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #888888;
    width: 642px;
}

.benefits-content {
    background-color: #888888;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 642px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .objectives-content {
    background-color: #888888;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .corousel-content{

    display: flex;
    justify-content: center;

  }