<div class="home-content">

    <mat-card class="example-card">
        
        <mat-card-header>
          <mat-card-title>Minha Avaliação Geral</mat-card-title>
          <mat-card-title><span class="material-icons star-icon">star</span><span class="material-icons star-icon">star</span><span class="material-icons star-icon">star</span>
        </mat-card-title>
        </mat-card-header>

        <mat-card-header>
            <mat-card-title>Avaliações</mat-card-title>
            <mat-card-title> <span class='material-icons'>feedback</span></mat-card-title>
        </mat-card-header>

        <mat-card-header>
            <mat-card-title>Perfil da minha empresa</mat-card-title>
            <mat-card-title> <span class="material-icons company-icon">apartment</span></mat-card-title>
        </mat-card-header>
              
    </mat-card>

    

</div>

<div class="home-content">

<mat-card class="description-content">

    <mat-card-title>

        Gerencie a sua maneira a contratação de novos colaboradores e engaje pessoas e sonhos
        
    </mat-card-title>
          
</mat-card>

</div>

<div class="home-content">

    <mat-card class="benefits-content">

        <mat-card-title>A plataforma Minha Chance é feita para quem?</mat-card-title>
        
        <mat-card-header>
          <mat-card-title>Empresas</mat-card-title>
          
          <mat-card-title><span class="material-icons">business</span>
        </mat-card-title>
        </mat-card-header>

        <mat-card-header>
            <mat-card-title>Você</mat-card-title>
            <mat-card-title> <span class='material-icons'>people</span></mat-card-title>
        </mat-card-header>
       
    </mat-card>

    

</div>

<div class="home-content">
<mat-card class="objectives-content">

      <mat-card-header>
        <mat-card-title>Equidade</mat-card-title>
        <mat-card-title><span class="material-icons">supervisor_account</span>
      </mat-card-title>
      </mat-card-header>

      <mat-card-header>
          <mat-card-title>Desenvolvimento</mat-card-title>
          <mat-card-title> <span class='material-icons'>feedback</span></mat-card-title>
      </mat-card-header>

      <mat-card-header>
          <mat-card-title>Engajamento</mat-card-title>
          <mat-card-title> <span class="material-icons company-icon">show_chart</span></mat-card-title>
      </mat-card-header>

      <mat-card-header>
        <mat-card-title>Vínculos</mat-card-title>
        <mat-card-title> <span class="material-icons company-icon">connect_without_contact</span></mat-card-title>
    </mat-card-header>

    <mat-card-header>
        <mat-card-title>Inovação</mat-card-title>
        <mat-card-title> <span class="material-icons star-icon">lightbulb</span></mat-card-title>
    </mat-card-header>
          
</mat-card>
</div>