<div class="center-content">
    <mat-card class="start-card">

        <mat-card-title class="center-title">Iniciar teste de aptidões</mat-card-title>

        <mat-card-content class="start-content">
            <div class="container">

                <div class="row">
                    <p>
                        Quantidade: 45 perguntas
                    </p>
                    <p>
                        Tempo estimado de realização: 23 minutos
                    </p>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button (click)="confirmStartTest()" mat-raised-button class="btn start-button">Iniciar teste</button>
        </mat-card-actions>
    </mat-card>
</div>
