<div>
    <mat-card class="courses-card">

        <mat-card-header class="title-course">
            <mat-card-title fxLayoutAlign="center" class="title-course">
                Crie cursos para divulgação da sua empresa
            </mat-card-title>

        </mat-card-header>

        <mat-card-content class="course-content">



            <div class="container">
                <div fxLayout="row" fxLayoutAlign="center">
                    <form [formGroup]="formCourse">
                        <div fxLayout="column">

                            <mat-form-field>
                                <mat-label class="placeholder-color">Titulo do curso</mat-label>
                                <input id="courseTitle" class="form-control" [(ngModel)]="this.course.courseTitle"
                                    formControlName="courseTitle" type="text" matInput autocomplete="off"
                                    placeholder="Titulo do curso" required />
                            </mat-form-field>
                            <div
                                *ngIf="formCourse.get('courseTitle')?.invalid && (formCourse.get('courseTitle')?.dirty || formCourse.get('courseTitle')?.touched)">
                                <p *ngIf="formCourse.get('courseTitle')?.errors?.['required']">
                                    Titulo do curso é necessário.
                                </p>
                            </div>
                            <mat-form-field>
                                <mat-label class="placeholder-color">Link do curso</mat-label>
                                <input id="courseLink" class="form-control" [(ngModel)]="this.course.courseLink"
                                    formControlName="courseLink" type="text" matInput autocomplete="off"
                                    placeholder="URL do curso" required />
                            </mat-form-field>
                            <div
                                *ngIf="formCourse.get('courseLink')?.invalid && (formCourse.get('courseLink')?.dirty || formCourse.get('courseLink')?.touched)">
                                <p *ngIf="formCourse.get('courseLink')?.errors?.['required']">
                                    Link do curso é necessário.
                                </p>
                            </div>
                            <mat-form-field>
                                <mat-label class="placeholder-color">Plataforma do curso</mat-label>
                                <input id="coursePlatform" class="form-control" [(ngModel)]="this.course.coursePlatform"
                                    formControlName="coursePlatform" type="text" matInput autocomplete="off"
                                    placeholder="Plataforma do curso" required />
                            </mat-form-field>
                            <div
                                *ngIf="formCourse.get('coursePlatform')?.invalid && (formCourse.get('coursePlatform')?.dirty || formCourse.get('coursePlatform')?.touched)">
                                <p *ngIf="formCourse.get('coursePlatform')?.errors?.['required']">
                                    Plataforma do curso é necessária.
                                </p>
                            </div>
                            <mat-form-field class="spacing-margin">
                                <mat-label class="placeholder-color">Vaga</mat-label>
                                <mat-select [value]="this.course.vacancyId" placeholder="Vaga">
                                    <mat-option value="Introdução I">Analista I</mat-option>
                                    <mat-option value="Introdução II">Analista II</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br />
                            <mat-form-field *ngIf="this.hasTest">
                                <mat-label class="placeholder-color">Quantidade de questões</mat-label>
                                <input [(ngModel)]="this.course.durationTime" type="number"
                                    formControlName="courseDuration" matInput autocomplete="off" placeholder="Quantidade"
                                    required />
                            </mat-form-field>
                            <br />
                            <mat-form-field>
                                <mat-label class="placeholder-color">Duração</mat-label>
                                <input [(ngModel)]="this.course.durationTime" type="number"
                                    formControlName="courseDuration" matInput autocomplete="off" placeholder="Duração"
                                    required />
                            </mat-form-field>
                            <div
                                *ngIf="formCourse.get('courseDuration')?.invalid && (formCourse.get('courseDuration')?.dirty || formCourse.get('courseDuration')?.touched)">
                                <p *ngIf="formCourse.get('courseDuration')?.errors?.['required']">
                                    Duração do curso é necessária.
                                </p>
                                <p *ngIf="formCourse.get('courseDuration')?.errors?.['forbiddenDurationTime']">
                                    Duração do curso deve ser maior que 0.
                                </p>
                            </div>
                            <mat-form-field class="spacing-margin">
                                <mat-label class="placeholder-color">Hora(s)</mat-label>
                                <mat-select>
                                    <mat-option value="Horas">Hora(s)</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br />
                            <mat-form-field>
                                <mat-label class="placeholder-color">Categoria</mat-label>
                                <mat-select [value]="this.course.category" placeholder="Categoria">
                                    <mat-option value="Tecnologia">Tecnologia</mat-option>
                                    <mat-option value="Artes">Artes</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br />
                            <br />
                            <section>
                                <mat-checkbox (change)="changeShowCertification()">
                                    Possui certificação?
                                </mat-checkbox>
                            </section>
                            <br />
                            <section>
                                <mat-checkbox (change)="changeShowTest()">
                                    Possui provas avaliativa?
                                </mat-checkbox>
                            </section>
                            <br />
                            <br />
                            <mat-label>Imagem do curso</mat-label>
                            <br />
                            <input (change)="courseImageSelected($event)" class="ng-hide" id="input-file-id" multiple
                                type="file" formControlName="courseImage"  accept="image/png, image/gif, image/jpeg" required/>
                            <br />
                            <div
                                *ngIf="formCourse.get('courseImage')?.invalid && (formCourse.get('courseImage')?.dirty || formCourse.get('courseImage')?.touched)">
                                
                                <p *ngIf="formCourse.get('courseImage')?.errors?.['forbiddenSendFileValidator']">
                                    imagem do curso deve ser preenchida.
                                </p>
                            </div>
                            <br />
                            <mat-label>Descrição</mat-label>
                            <br />
                            <textarea [(ngModel)]="this.course.description" formControlName="courseDescription"
                                class="text-area-form" required></textarea>
                            <div
                                *ngIf="formCourse.get('courseDescription')?.invalid && (formCourse.get('courseDescription')?.dirty || formCourse.get('courseDescription')?.touched)">
                                <p *ngIf="formCourse.get('courseDescription')?.errors?.['required']">
                                    Descrição do curso é necessária.
                                </p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </mat-card-content>

    </mat-card>
</div>

<br />
<button *ngIf="this.courseId" (click)="registerCourse()" mat-raised-button class="submit-btn" color="primary">Cadastrar Curso</button>
<button *ngIf="!this.courseId" (click)="registerCourse()" mat-raised-button class="submit-btn" color="primary">Editar Curso</button>
<br />