h1, label{
    text-align: center;
}
mat-card-title, p{
    color: white;
}

h2{
    color: white;
    margin-left: 20px;
}

.conclusion-content{
    background-color: #191645;
    overflow: auto;
    height: 50%;
    top: 50px;
    left: 5%;
    margin-bottom: 120px;
}





