.fundo{
  background-image:url("https://img.freepik.com/vetores-gratis/conceito-de-doodle-de-recrutamento-de-emprego-com-curriculo-do-candidato_107791-11271.jpg?w=1380&t=st=1669489658~exp=1669490258~hmac=a367aacbfb1a244680bd00519c879698c7ef230c91f313cbcb64c4b5a10379ba") ;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
}
.responsive-images{
  margin-left: 20vw;
  margin-right: 20vw;
  width: 30vw;
  height: 300px;

}

.contexto{
  margin-bottom: 100px;
}

//arrumar img(ok)
.carousel-caption{
  color: black;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 0px;
  width: 25vw;
  padding-bottom: 180px;
  //criar a parte de carrousel fixo
}
carousel-content{
  align-items: center;
  width: 100%;
  padding-bottom: 200px;
}//arrumar o espaçamento entre a img  o texto da img

//mudar cor de empresa e de vc
.picsum-img-wrapper{
  color: black;
  padding-bottom: 200px;
}

.mat-card-title, .company-icon{
  color: white;
}

.example-card {
    height: 20vh;
    background-color: #191645;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


.btn{
  background-color: #3c6e71;
  border-color: #3c6e71;
  color: white
}

  .star-icon{
    color: greenyellow;

  }

  .center-icons{
    align-content: center;
    text-align: center;
  }

  .home-content {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.description-content{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #888888;

}

.benefits-content {

    background-color: #888888;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .objectives-content {
    background-color: #888888;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .corousel-content{

    display: flex;
    justify-content: center;

  }

