.responsive-images{
  margin-left: 20vw;
  margin-right: 20vw;
  width: 30vw;
  height: 300px;

}

.contexto{
  margin-bottom: 100px;
}

//arrumar img(ok)
.carousel-caption{
  color: black;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 0px;
  width: 25vw;
  padding-bottom: 180px;
  //criar a parte de carrousel fixo
}
carousel-content{
  align-items: center;
  width: 100%;
  padding-bottom: 200px;
}//arrumar o espaçamento entre a img  o texto da img

//mudar cor de empresa e de vc
.picsum-img-wrapper{
  color: black;
  padding-bottom: 200px;
}

.mat-card-title, .company-icon{
  color: white;
}

.example-card {
    height: 20vh;
    background-color: #191645;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .star-icon{
    color: yellow;

  }

  .center-icons{
    align-content: center;
    text-align: center;
  }

  .home-content {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.description-content{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #888888;

}

.benefits-content {

    background-color: #888888;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .objectives-content {
    background-color: #888888;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .corousel-content{

    display: flex;
    justify-content: center;

  }

